In [1]:
import pandas as pd
import random

In [3]:
df = pd.read_csv('/hpc/group/codeplus22-vis/infousa/derived set/2020/Household_Ethnicity_zip_49309_year_2020.txt', sep = '\t')
df = df[['ZIP', 'census_county_2010', 'STATE', 'ChildrenHHCount', 'length_of_residence', 
         'children_ind', 'head_hh_age_code', 'GE_LATITUDE_2010', 'GE_LONGITUDE_2010']]
df

,ZIP,census_county_2010,STATE,ChildrenHHCount,length_of_residence,children_ind,head_hh_age_code,GE_LATITUDE_2010,GE_LONGITUDE_2010
0,49309,123,MI,0,8,0,L,43.813295,-85.821729
1,49309,123,MI,0,15,0,I,43.782101,-85.785538
2,49309,123,MI,3,5,1,K,43.799797,-85.826307
3,49309,123,MI,0,27,0,M,43.736318,-85.798551
4,49309,123,MI,0,27,0,M,43.808913,-85.832011
...,...,...,...,...,...,...,...,...,...
1263,49309,123,MI,0,1,0,E,43.797361,-85.848833
1264,49309,123,MI,0,1,0,F,43.771055,-85.809882
1265,49309,123,MI,0,1,0,K,43.713169,-85.866478
1266,49309,123,MI,0,1,0,H,43.786915,-85.845480
1267,49309,123,MI,0,1,0,I,43.790671,-85.829214

In [19]:
%%time
filepath = '/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa_test/Household_Ethnicity_zip_'

states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
age_codes = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']

random.seed(1)

for i in range(5):  
    zipcode = random.randint(10000, 99999)
    print(zipcode)
    ZIP = []
    census_county_2010 = []
    ChildrenHHCount = []
    length_of_residence = []
    children_ind = []
    GE_LONGITUDE_2010 = []
    GE_LATITUDE_2010 = []
    STATE = []
    head_hh_age_code = []
    
    for i in range (0, 100000):
        ZIP.append(random.randint(10000, 99999))
        census_county_2010.append(random.randint(0, 999))
        STATE.append(states[random.randint(0, 50)])
        ChildrenHHCount.append(random.randint(0, 15))
        length_of_residence.append(random.randint(0, 70))
        children_ind.append(random.randint(0,1))
        head_hh_age_code.append(age_codes[random.randint(0, 12)])
        GE_LONGITUDE_2010.append(random.uniform(-125, -65))
        GE_LATITUDE_2010.append(random.uniform(35, 50))

    # print(len(ZIP))
    # print(len(census_county_2010))
    # print(len(ChildrenHHCount))
    # print(len(length_of_residence))
    # print(len(children_ind))
    # print(len(GE_LONGITUDE_2010))
    # print(len(GE_LATITUDE_2010))
    # print(len(STATE))
    # print(len(head_hh_age_code))
   
    d = {'ZIP': ZIP, 'census_county_2010': census_county_2010, 'STATE': STATE, 'ChildrenHHCount': ChildrenHHCount, 
     'length_of_residence': length_of_residence, 'children_ind': children_ind, 'head_hh_age_code': head_hh_age_code, 
     'GE_LATITUDE_2010': GE_LATITUDE_2010, 'GE_LONGITUDE_2010': GE_LONGITUDE_2010}
    df_synthetic = pd.DataFrame(d)
    df_synthetic
    df_synthetic.to_csv(filepath + str(zipcode) + '_year_2020.txt', sep = '\t', index = False)

27611
13107
43144
62840
53762
CPU times: user 4.92 s, sys: 35.9 ms, total: 4.96 s
Wall time: 5.07 s

In [8]:
f = pd.read_csv('/hpc/home/at341/ondemand/codeplus-celine-dcc-package/data/Household_Ethnicity_zip_23886_year_2020_TESTBIGXX.txt', sep = '\t')
f

,ZIP,census_county,STATE,ChildrenHHCount,length_of_residence,children_ind,head_hh_age_code,GE_LATITUDE_2010,GE_LONGITUDE_2010
0,90440,203,VA,15,46,0,J,45.751533,-70.353727
1,97562,467,FL,11,5,0,C,44.079414,-85.010516
2,48850,571,OH,8,52,0,G,38.213325,-123.105971
3,97805,428,GA,11,50,1,E,37.918417,-103.207332
4,15492,88,UT,12,29,0,E,37.146301,-92.818072
...,...,...,...,...,...,...,...,...,...
99995,42951,510,RI,0,21,1,J,35.211225,-88.960366
99996,74805,506,SD,13,70,0,G,41.287367,-67.782086
99997,87732,576,MD,6,43,1,A,38.378583,-70.951051
99998,86594,686,NJ,0,34,1,C,44.384075,-81.852567
99999,70947,468,NJ,12,57,1,L,42.386458,-95.359444