In [1]:
import pandas as pd
import geopandas as gpd
import os
import random

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.11.0-CAPI-1.17.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
df_tanks = gpd.read_file('/hpc/group/codeplus22-vis/ast_dataset/tile_level_annotations.shp')
df_tanks

,tile_name,minx_polyg,miny_polyg,maxx_polyg,maxy_polyg,nw_corner_,nw_corne_1,se_corner_,se_corne_1,object_cla,diameter (,merged_bbo,bbox_withi,Category1,Category2,Category3,Category4,Category5,state,geometry
0,m_4007327_nw_18_060_20190809,974,314,1041,380,40.625753,-73.745466,40.625392,-73.744997,closed_roof_tank,39.6,1,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74547 40.62575, -73.74500 40.625..."
1,m_4007327_nw_18_060_20190809,1091,479,1157,512,40.624853,-73.744652,40.624669,-73.744188,closed_roof_tank,19.8,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74465 40.62485, -73.74419 40.624..."
2,m_4007327_nw_18_060_20190809,851,243,872,265,40.626147,-73.746331,40.626026,-73.746184,closed_roof_tank,12.6,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74633 40.62615, -73.74618 40.626..."
3,m_4007327_nw_18_060_20190809,843,284,897,335,40.625926,-73.746392,40.625646,-73.746014,closed_roof_tank,30.6,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74639 40.62593, -73.74601 40.625..."
4,m_4007327_nw_18_060_20190809,905,288,945,331,40.625899,-73.745952,40.625664,-73.745673,closed_roof_tank,24.0,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74595 40.62590, -73.74567 40.625..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98164,m_3910409_se_13_060_20190803,2735,6826,2744,6836,39.777458,-104.920750,39.777404,-104.920687,narrow_closed_roof_tank,5.4,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92075 39.77746, -104.92069 39.7..."
98165,m_3910409_se_13_060_20190803,2748,6851,2756,6859,39.777323,-104.920659,39.777279,-104.920603,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92066 39.77732, -104.92060 39.7..."
98166,m_3910409_se_13_060_20190803,2751,6778,2759,6784,39.777717,-104.920637,39.777685,-104.920581,narrow_closed_roof_tank,3.6,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92064 39.77772, -104.92058 39.7..."
98167,m_3910409_se_13_060_20190803,2750,6975,2758,6984,39.776652,-104.920645,39.776604,-104.920589,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92065 39.77665, -104.92059 39.7..."
98168,m_3910409_se_13_060_20190803,2742,6975,2750,6985,39.776652,-104.920701,39.776598,-104.920645,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92070 39.77665, -104.92065 39.7..."

In [5]:
random.seed(1)
df_tanks_sample = df_tanks.sample(frac = 0.01)
df_tanks_sample = df_tanks_sample.reset_index(drop = True)
df_tanks_sample.to_file('/hpc/group/codeplus22-vis/synthetic_data/test/ast_synthetic2.shp')

In [6]:
df_tanks = gpd.read_file('/hpc/group/codeplus22-vis/synthetic_data/test/ast_synthetic2.shp')
df_tanks.head()

,tile_name,minx_polyg,miny_polyg,maxx_polyg,maxy_polyg,nw_corner_,nw_corne_1,se_corner_,se_corne_1,object_cla,diameter (,merged_bbo,bbox_withi,Category1,Category2,Category3,Category4,Category5,state,geometry
0,m_3009057_ne_15_060_20190831,5886,3301,5960,3380,30.110301,-90.903770,30.109866,-90.903319,closed_roof_tank,44.4,0,0,0.0,0.0,0.0,0.0,0.0,Louisiana,"POLYGON ((-90.90377 30.11030, -90.90332 30.110..."
1,m_3908801_nw_16_060_20191001,1359,7384,1378,7404,39.962882,-88.994691,39.962777,-88.994555,closed_roof_tank,11.4,0,0,0.0,0.0,0.0,0.0,0.0,Illinois,"POLYGON ((-88.99469 39.96288, -88.99455 39.962..."
2,m_3609659_sw_14_060_20190812,917,10119,1021,10224,36.012151,-96.748673,36.011570,-96.747997,external_floating_roof_tank,62.4,0,0,0.0,0.0,0.0,0.0,0.0,Oklahoma,"POLYGON ((-96.74867 36.01215, -96.74800 36.012..."
3,m_3808916_sw_16_060_20190713,6571,3413,6579,3423,38.797983,-89.084484,38.797930,-89.084427,narrow_closed_roof_tank,4.8,1,0,0.0,0.0,0.0,0.0,0.0,Illinois,"POLYGON ((-89.08448 38.79798, -89.08443 38.797..."
4,m_3308732_sw_16_060_20190908,2916,724,2948,756,33.560408,-87.108388,33.560235,-87.108181,closed_roof_tank,19.2,0,0,0.0,0.0,0.0,0.0,0.0,Alabama,"POLYGON ((-87.10839 33.56041, -87.10818 33.560..."

## Synthetic InfoUSA Data

In [57]:
directory = os.listdir("/hpc/group/codeplus22-vis/infousa_copy/2020")
directory
random.seed(0)
files = random.sample(directory, 10)
files

['Household_Ethnicity_zip_49024_year_2020.txt',
 'Household_Ethnicity_zip_55319_year_2020.txt',
 'Household_Ethnicity_zip_96784_year_2020.txt',
 'Household_Ethnicity_zip_49232_year_2020.txt',
 'Household_Ethnicity_zip_90275_year_2020.txt',
 'Household_Ethnicity_zip_24148_year_2020.txt',
 'Household_Ethnicity_zip_73107_year_2020.txt',
 'Household_Ethnicity_zip_48412_year_2020.txt',
 'Household_Ethnicity_zip_14086_year_2020.txt',
 'Household_Ethnicity_zip_77255_year_2020.txt']

#### Zip 49024

In [59]:
df_49024 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_49024_year_2020.txt', sep = '\t')
df_49024

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,8510132,S,1,F,0,L,4,0,0,S,...,4,J,GABRIEL,DE,MERITA,GABRIEL,DE,NaN,NaN,NaN
1,9547193,S,1,F,2,L,41,1,1,S,...,P,A,LAJOICE,00,EVELYN,LAJOICE,00,HOLLI,LAJOICE,00
2,46939237,S,0,F,0,I,2,0,0,S,...,P,A,FRANKEN,DE,SHARON,FRANKEN,DE,NaN,NaN,NaN
3,47908447,S,1,F,4,F,17,5,1,S,...,P,M,BACKMAN,NO,SHEENA,BACKMAN,NO,NaN,NaN,NaN
4,49345446,S,1,F,4,H,4,1,1,S,...,4,C,KONKEL,DE,KIMBERLY,KONKEL,DE,BRIAN,KONKEL,DE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18255,902470975329,S,1,F,0,E,1,0,0,S,...,P,W,RANKIN,E5,NaN,NaN,NaN,NaN,NaN,NaN
18256,902470975387,S,0,F,0,D,1,0,0,S,...,P,J,STRANG,DE,NaN,NaN,NaN,NaN,NaN,NaN
18257,902470975405,S,1,F,0,B,1,0,0,S,...,P,NaN,THAYER,E5,NaN,NaN,NaN,NaN,NaN,NaN
18258,902470975413,S,1,F,0,D,1,0,0,S,...,P,T,WALBURN,E5,NaN,NaN,NaN,NaN,NaN,NaN
18259,902470975421,S,0,F,0,F,1,0,0,S,...,P,D,WIJAY,LK,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_49024 = df_49024.sample(frac=1)
df_49024

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
18094,1101621243,S,1,F,0,C,5,1,1,S,...,P,R,ASHLEY,E5,EMILY,ASHLEY,E5,NaN,NaN,NaN
16276,601763359215,S,0,F,0,C,7,0,0,S,...,P,L,ROSE,DK,NaN,NaN,NaN,NaN,NaN,NaN
303,601537416445,S,0,F,0,C,5,0,0,S,...,P,M,WESSEL,DE,NaN,NaN,NaN,NaN,NaN,NaN
12827,300927794,S,0,F,0,F,35,0,0,S,...,P,NaN,MOHNEY,E5,NaN,NaN,NaN,NaN,NaN,NaN
5800,401378841033,S,0,F,0,B,9,0,0,S,...,P,N,STIGALL,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4581,1441677189,S,1,F,0,C,7,2,1,S,...,P,R,SLONE,S3,COREY,SLONE,S3,NaN,NaN,NaN
7332,100300936735,S,1,F,0,K,42,3,1,S,...,P,S,OSTERMAN,DE,JANET,OSTERMAN,DE,REBECCA,OSTERMAN,DE
3020,902386068437,S,1,F,0,D,1,0,0,S,...,P,M,ALTIZER,NL,NaN,NaN,NaN,NaN,NaN,NaN
2063,700300882709,S,1,F,5,M,39,0,0,S,...,P,A,VROEGOP,00,EVELYN,VROEGOP,00,EVELYN,VROEGOP,00
9939,800920830251,M,1,F,0,H,7,0,1,S,...,P,E,KURZMANN,DE,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df_49024.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_49024_year_2020.txt', index = False)

In [77]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_49024_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,1101621243,S,1,F,0,C,5,1,1,S,...,P,R,ASHLEY,E5,EMILY,ASHLEY,E5,NaN,NaN,NaN
1,601763359215,S,0,F,0,C,7,0,0,S,...,P,L,ROSE,DK,NaN,NaN,NaN,NaN,NaN,NaN
2,601537416445,S,0,F,0,C,5,0,0,S,...,P,M,WESSEL,DE,NaN,NaN,NaN,NaN,NaN,NaN
3,300927794,S,0,F,0,F,35,0,0,S,...,P,NaN,MOHNEY,E5,NaN,NaN,NaN,NaN,NaN,NaN
4,401378841033,S,0,F,0,B,9,0,0,S,...,P,N,STIGALL,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18255,1441677189,S,1,F,0,C,7,2,1,S,...,P,R,SLONE,S3,COREY,SLONE,S3,NaN,NaN,NaN
18256,100300936735,S,1,F,0,K,42,3,1,S,...,P,S,OSTERMAN,DE,JANET,OSTERMAN,DE,REBECCA,OSTERMAN,DE
18257,902386068437,S,1,F,0,D,1,0,0,S,...,P,M,ALTIZER,NL,NaN,NaN,NaN,NaN,NaN,NaN
18258,700300882709,S,1,F,5,M,39,0,0,S,...,P,A,VROEGOP,00,EVELYN,VROEGOP,00,EVELYN,VROEGOP,00
18259,800920830251,M,1,F,0,H,7,0,1,S,...,P,E,KURZMANN,DE,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 55319

In [78]:
df_55319 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_55319_year_2020.txt', sep = '\t')
df_55319

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,56450419,S,1,F,0,M,61,3,1,S,...,P,R,FAGIN,J4,JANIS,FAGIN,J4,CHARLES,FAGIN,J4
1,238018586,S,1,F,0,H,10,3,1,S,...,P,J,MOONEY,IE,PATRICIA,MOONEY,IE,PATRICIA,MOONEY,IE
2,238566801,S,1,F,0,I,27,1,1,S,...,P,S,JERGENSON,DE,ROBYN,JERGENSON,DE,BRENDA,JERGENSON,DE
3,238582990,S,0,F,0,H,10,2,1,S,...,P,V,FORSMAN,SE,RYAN,FORSMAN,SE,DIANE,FORSMAN,SE
4,238677533,S,1,F,0,M,5,0,1,S,...,P,S,SCOTT,S3,TINA,SCOTT,S3,PATRICK,SCOTT,S3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,902464052099,S,1,F,0,C,1,0,0,S,...,P,J,KOLBINGER,DE,NaN,NaN,NaN,NaN,NaN,NaN
2912,902464052117,S,0,F,0,D,1,0,0,S,...,P,NaN,PAVLISICH,00,NaN,NaN,NaN,NaN,NaN,NaN
2913,902464052125,S,0,F,0,B,1,0,0,S,...,P,M,RUCHTI,CH,NaN,NaN,NaN,NaN,NaN,NaN
2914,902464052133,S,0,F,0,C,1,0,0,S,...,P,NaN,VANNORMAN,DE,DENISE,VANNORMAN,DE,NaN,NaN,NaN
2915,902464099413,U,1,F,0,D,1,0,0,NaN,...,Z,NaN,HARREN,IE,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df_55319 = df_55319.sample(frac=1)
df_55319

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
1919,601758112913,S,1,F,0,F,6,1,1,S,...,P,NaN,AMENT,E5,ROCHELLE,AMENT,E5,NaN,NaN,NaN
344,100238848038,S,1,F,0,M,32,0,0,S,...,P,T,PETERSON,Q9,JOAN,PETERSON,SE,NaN,NaN,NaN
1365,402217313845,S,1,F,0,B,3,0,0,S,...,P,K,NEVINS,E5,NaN,NaN,NaN,NaN,NaN,NaN
2617,900238843192,S,1,F,0,K,34,1,1,S,...,P,M,MCCALLA,W4,SHERRY,MCCALLA,W4,DAVID,MCCALLA,W4
362,100238848363,S,1,F,3,L,49,0,0,S,...,P,A,WARREN,E5,JUDITH,WARREN,E5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,600890321681,S,1,F,3,E,16,1,1,S,...,P,W,KIFFMEYER,DE,NaN,NaN,NaN,NaN,NaN,NaN
3,238582990,S,0,F,0,H,10,2,1,S,...,P,V,FORSMAN,SE,RYAN,FORSMAN,SE,DIANE,FORSMAN,SE
2394,800238838781,S,1,F,0,M,61,0,0,S,...,P,P,GALLAGHER,IE,ROBERT,GALLAGHER,IE,NaN,NaN,NaN
1060,301158380790,S,1,F,0,C,10,3,1,S,...,P,A,TONNELL,E5,NaN,NaN,NaN,NaN,NaN,NaN
2697,900238848532,S,1,F,0,G,28,2,1,S,...,P,R,MARTIN,E5,MICHELLE,MARTIN,E5,NaN,NaN,NaN

In [80]:
df_55319.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_55319_year_2020.txt', index = False)

In [81]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_55319_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,601758112913,S,1,F,0,F,6,1,1,S,...,P,NaN,AMENT,E5,ROCHELLE,AMENT,E5,NaN,NaN,NaN
1,100238848038,S,1,F,0,M,32,0,0,S,...,P,T,PETERSON,Q9,JOAN,PETERSON,SE,NaN,NaN,NaN
2,402217313845,S,1,F,0,B,3,0,0,S,...,P,K,NEVINS,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,900238843192,S,1,F,0,K,34,1,1,S,...,P,M,MCCALLA,W4,SHERRY,MCCALLA,W4,DAVID,MCCALLA,W4
4,100238848363,S,1,F,3,L,49,0,0,S,...,P,A,WARREN,E5,JUDITH,WARREN,E5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,600890321681,S,1,F,3,E,16,1,1,S,...,P,W,KIFFMEYER,DE,NaN,NaN,NaN,NaN,NaN,NaN
2912,238582990,S,0,F,0,H,10,2,1,S,...,P,V,FORSMAN,SE,RYAN,FORSMAN,SE,DIANE,FORSMAN,SE
2913,800238838781,S,1,F,0,M,61,0,0,S,...,P,P,GALLAGHER,IE,ROBERT,GALLAGHER,IE,NaN,NaN,NaN
2914,301158380790,S,1,F,0,C,10,3,1,S,...,P,A,TONNELL,E5,NaN,NaN,NaN,NaN,NaN,NaN
2915,900238848532,S,1,F,0,G,28,2,1,S,...,P,R,MARTIN,E5,MICHELLE,MARTIN,E5,NaN,NaN,NaN

#### Zip 96784

In [82]:
df_96784 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_96784_year_2020.txt', sep = '\t')
df_96784

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,1949801,U,1,F,0,G,18,0,1,P,...,Z,R,VANDUISEN,NL,BRYCE,VANDUISEN,NL,NaN,NaN,NaN
1,27708780,U,1,F,0,F,25,2,1,P,...,Z,NaN,PEDRO,H5,NaN,NaN,NaN,NaN,NaN,NaN
2,27709477,U,1,F,0,F,23,0,1,P,...,Z,P,ANDERSON,SE,NaN,NaN,NaN,NaN,NaN,NaN
3,27709508,U,1,F,0,L,24,0,0,P,...,Z,NaN,BORRETA,H5,MARIANNE,BORRETA,00,DANIEL,BORRETA,00
4,27709566,U,1,F,0,H,27,0,0,P,...,Z,K,GIBO,JP,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,902366515127,U,1,F,0,C,2,0,0,P,...,Z,NaN,LATAYADA,00,NaN,NaN,NaN,NaN,NaN,NaN
409,902422921095,U,0,F,0,B,1,0,0,P,...,Z,M,CRUZ,H5,NaN,NaN,NaN,NaN,NaN,NaN
410,902422921105,U,1,F,0,C,1,0,0,P,...,Z,NaN,JAMES,S3,NaN,NaN,NaN,NaN,NaN,NaN
411,902422921113,U,0,F,0,F,1,0,0,P,...,Z,NaN,MOTOOKA,JP,NaN,NaN,NaN,NaN,NaN,NaN
412,902422921121,U,1,F,0,C,1,0,0,P,...,Z,NaN,RUNGE,DE,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df_96784 = df_96784.sample(frac=1)
df_96784

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
345,800607320244,U,1,F,0,I,6,0,0,P,...,Z,A,BRADY,IE,NaN,NaN,NaN,NaN,NaN,NaN
339,800391105130,U,1,F,0,E,20,0,1,P,...,Z,J,HITCHENS,E5,SAMUEL,HITCHENS,E5,NaN,NaN,NaN
259,600027708937,U,0,F,0,I,21,0,0,P,...,Z,S,DELVILLAR,H5,NaN,NaN,NaN,NaN,NaN,NaN
74,102269119853,U,1,F,0,C,2,0,0,P,...,Z,NaN,SCHULTZ,DE,NaN,NaN,NaN,NaN,NaN,NaN
265,600027709551,U,1,F,0,I,25,0,0,P,...,Z,A,LIVERGOOD,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,401447908209,U,1,F,0,E,9,0,0,P,...,Z,NaN,HOSINO,IT,NaN,NaN,NaN,NaN,NaN,NaN
185,400027708850,U,1,F,0,J,24,0,0,P,...,Z,NaN,PUU,H3,NaN,NaN,NaN,NaN,NaN,NaN
108,200969402308,U,1,F,0,H,7,0,1,P,...,Z,K,GURO,JP,NaN,NaN,NaN,NaN,NaN,NaN
261,600027709056,U,1,F,0,K,33,0,0,P,...,Z,E,PINSON,E5,NaN,NaN,NaN,NaN,NaN,NaN
363,801884802079,U,1,F,0,H,5,0,0,P,...,Z,D,NAKAMURA,JP,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df_96784.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_96784_year_2020.txt', index = False)

In [85]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_96784_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,800607320244,U,1,F,0,I,6,0,0,P,...,Z,A,BRADY,IE,NaN,NaN,NaN,NaN,NaN,NaN
1,800391105130,U,1,F,0,E,20,0,1,P,...,Z,J,HITCHENS,E5,SAMUEL,HITCHENS,E5,NaN,NaN,NaN
2,600027708937,U,0,F,0,I,21,0,0,P,...,Z,S,DELVILLAR,H5,NaN,NaN,NaN,NaN,NaN,NaN
3,102269119853,U,1,F,0,C,2,0,0,P,...,Z,NaN,SCHULTZ,DE,NaN,NaN,NaN,NaN,NaN,NaN
4,600027709551,U,1,F,0,I,25,0,0,P,...,Z,A,LIVERGOOD,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,401447908209,U,1,F,0,E,9,0,0,P,...,Z,NaN,HOSINO,IT,NaN,NaN,NaN,NaN,NaN,NaN
409,400027708850,U,1,F,0,J,24,0,0,P,...,Z,NaN,PUU,H3,NaN,NaN,NaN,NaN,NaN,NaN
410,200969402308,U,1,F,0,H,7,0,1,P,...,Z,K,GURO,JP,NaN,NaN,NaN,NaN,NaN,NaN
411,600027709056,U,1,F,0,K,33,0,0,P,...,Z,E,PINSON,E5,NaN,NaN,NaN,NaN,NaN,NaN
412,801884802079,U,1,F,0,H,5,0,0,P,...,Z,D,NAKAMURA,JP,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 49232

In [86]:
df_49232 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_49232_year_2020.txt', sep = '\t')
df_49232

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,271979924,U,1,F,0,I,6,0,0,P,...,Z,K,BINKLEY,E5,NANCY,BINKLEY,E5,WARREN,BINKLEY,E5
1,291516782,S,1,F,8,I,1,1,1,S,...,P,C,KONZ,DE,CHERYL,KONZ,DE,ALLISON,KONZ,DE
2,293511876,S,1,F,0,M,6,4,1,S,...,P,R,HURICK,00,NaN,NaN,NaN,NaN,NaN,NaN
3,300275834,S,1,F,0,I,19,0,0,S,...,P,B,SPAULDING,E5,ABRAHAM,SPAULDING,E5,LUKE,SPAULDING,E5
4,300459967,S,1,F,2,G,6,0,0,S,...,P,J,FINEGAN,IE,REBECCA,FINEGAN,IE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552,902443227929,S,0,F,0,H,1,0,0,S,...,P,NaN,LOPRESTO,IT,NaN,NaN,NaN,NaN,NaN,NaN
1553,902443227937,S,1,F,0,A,1,0,0,S,...,P,NaN,NEWCOMER,E5,NaN,NaN,NaN,NaN,NaN,NaN
1554,902443227945,U,0,F,0,D,1,0,0,P,...,Z,NaN,TRAUSCH,DE,NaN,NaN,NaN,NaN,NaN,NaN
1555,902470934155,S,1,F,0,D,1,0,0,S,...,P,S,BOEHNLEIN,DE,NaN,NaN,NaN,NaN,NaN,NaN
1556,902470934163,S,1,F,0,B,1,0,0,S,...,0,NaN,JARBOE,FR,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df_49232 = df_49232.sample(frac=1)
df_49232

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
375,201334312183,U,0,F,0,F,5,1,1,P,...,Z,P,STARK,E5,NaN,NaN,NaN,NaN,NaN,NaN
125,2434292273,S,0,F,0,C,1,0,0,S,...,P,R,MORAN-GAINER,IE,NaN,NaN,NaN,NaN,NaN,NaN
1187,701812392759,S,0,F,0,G,11,0,0,S,...,P,K,BANKER,E5,NaN,NaN,NaN,NaN,NaN,NaN
1263,800302876474,S,1,F,0,M,26,0,0,S,...,P,M,HEENEY,IE,ROSEMARIE,HEENEY,IE,NaN,NaN,NaN
362,201101519228,S,0,F,0,D,11,0,0,S,...,P,A,CUDNEY,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,800999455958,S,0,F,0,D,12,1,1,S,...,P,D,WEBB,E5,NaN,NaN,NaN,NaN,NaN,NaN
1482,901158473245,S,0,F,0,G,11,0,0,S,...,P,K,TESTA,IT,NaN,NaN,NaN,NaN,NaN,NaN
1046,700292572260,S,1,F,0,K,9,0,0,S,...,P,L,RIEDEL,DE,SANDRA,RIEDEL,DE,SHANNON,RIEDEL,DE
1456,900533223751,S,1,F,0,F,23,1,1,S,...,P,NaN,KINGSLEY,E5,JULIE,REMESIK,00,NaN,NaN,NaN
30,380363105,U,1,F,0,H,21,0,0,P,...,Z,E,MANN,E5,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_49232.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_49232_year_2020.txt', index = False)

In [89]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_49232_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,201334312183,U,0,F,0,F,5,1,1,P,...,Z,P,STARK,E5,NaN,NaN,NaN,NaN,NaN,NaN
1,2434292273,S,0,F,0,C,1,0,0,S,...,P,R,MORAN-GAINER,IE,NaN,NaN,NaN,NaN,NaN,NaN
2,701812392759,S,0,F,0,G,11,0,0,S,...,P,K,BANKER,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,800302876474,S,1,F,0,M,26,0,0,S,...,P,M,HEENEY,IE,ROSEMARIE,HEENEY,IE,NaN,NaN,NaN
4,201101519228,S,0,F,0,D,11,0,0,S,...,P,A,CUDNEY,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552,800999455958,S,0,F,0,D,12,1,1,S,...,P,D,WEBB,E5,NaN,NaN,NaN,NaN,NaN,NaN
1553,901158473245,S,0,F,0,G,11,0,0,S,...,P,K,TESTA,IT,NaN,NaN,NaN,NaN,NaN,NaN
1554,700292572260,S,1,F,0,K,9,0,0,S,...,P,L,RIEDEL,DE,SANDRA,RIEDEL,DE,SHANNON,RIEDEL,DE
1555,900533223751,S,1,F,0,F,23,1,1,S,...,P,NaN,KINGSLEY,E5,JULIE,REMESIK,00,NaN,NaN,NaN
1556,380363105,U,1,F,0,H,21,0,0,P,...,Z,E,MANN,E5,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 90275

In [90]:
df_90275 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_90275_year_2020.txt', sep = '\t')
df_90275

/tmp/ipykernel_4095284/3704659162.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_90275 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_90275_year_2020.txt', sep = '\t')

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,443758,S,1,F,0,K,37,0,0,S,...,P,J,MOLIS,S3,TRACY,MOLIS,S3,ANDREW,MOLIS,S3
1,3389073,S,1,F,0,I,16,0,0,S,...,P,NaN,FAUGHT,E5,ZANE,FAUGHT,E5,NaN,NaN,NaN
2,26263761,S,1,F,4,M,20,2,1,S,...,P,R,GAGLIANO,IT,LINDA,GAGLIANO,IT,CHRISTOPHER,GAGLIANO,IT
3,28225477,S,1,F,1,M,48,0,1,S,...,P,J,BRINGUEL,00,MARJORIE,BRINGUEL,00,NaN,NaN,NaN
4,30070788,M,0,F,0,G,13,0,0,S,...,P,A,HUANG,CN,LIANNE,HUANG,CN,ANDY,HUANG,CN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24306,902472514131,S,1,F,0,C,1,0,0,S,...,P,NaN,CHA,K5,NaN,NaN,NaN,NaN,NaN,NaN
24307,902472514149,S,0,F,0,E,1,0,0,S,...,P,NaN,COYE,E5,NaN,NaN,NaN,NaN,NaN,NaN
24308,902472514157,S,0,F,0,F,1,0,0,S,...,P,NaN,CUTCLIFFE,E5,NaN,NaN,NaN,NaN,NaN,NaN
24309,902472514173,S,1,F,0,E,1,0,0,S,...,P,NaN,ERICKSON,SE,NaN,NaN,NaN,NaN,NaN,NaN
24310,902472514199,M,1,F,0,B,1,0,0,S,...,P,NaN,GODDARD,E5,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df_90275 = df_90275.sample(frac=1)
df_90275

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
22309,900109709372,S,0,S,0,M,28,0,0,S,...,P,C,KENNEDY,IE,STEPHANIE,KENNEDY,IE,DRAKE,KENNEDY,IE
17002,700108332041,S,1,F,0,F,7,1,1,S,...,P,B,ABLESER,00,LUCY,ABLESER,00,NaN,NaN,NaN
2414,2448972791,S,0,F,0,J,1,0,0,S,...,P,NaN,DOYLE,IE,NaN,NaN,NaN,NaN,NaN,NaN
5546,200109732998,S,0,F,1,M,41,0,0,S,...,P,M,MARTINEZ,H5,DOLLY,MARTINEZ,H5,NaN,NaN,NaN
3951,101129215784,S,0,F,0,J,11,0,0,S,...,P,NaN,BIGGS,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3949,101124553335,S,0,F,1,I,11,0,0,S,...,P,NaN,SHAYGAN FATE,J4,NaN,NaN,NaN,NaN,NaN,NaN
4053,101258714665,M,1,F,0,C,10,0,0,S,...,P,M,MOROZ,UA,NaN,NaN,NaN,NaN,NaN,NaN
2988,100109720394,S,1,F,5,M,20,0,0,S,...,P,M,LUNDBERG,SE,SCOTT,LUNDBERG,SE,MICHELLE,LUNDBERG,SE
13136,500114126691,S,1,F,0,H,17,0,1,S,...,P,P,SUTHERLAND,S3,CHRISTINA,SUTHERLAND,S3,TIMOTHY,SUTHERLAND,S3
10375,400109732693,S,1,F,1,I,27,1,1,S,...,P,NaN,SCHNEIDERMAN,J4,DEBRA,SCHNEIDERMAN,J4,JENNIFER,SCHNEIDERMAN,J4

In [98]:
df_90275.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_90275_year_2020.txt', index = False)

In [99]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_90275_year_2020.txt')
df

/tmp/ipykernel_4095284/771487368.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_90275_year_2020.txt')

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,900109709372,S,0,S,0,M,28,0,0,S,...,P,C,KENNEDY,IE,STEPHANIE,KENNEDY,IE,DRAKE,KENNEDY,IE
1,700108332041,S,1,F,0,F,7,1,1,S,...,P,B,ABLESER,00,LUCY,ABLESER,00,NaN,NaN,NaN
2,2448972791,S,0,F,0,J,1,0,0,S,...,P,NaN,DOYLE,IE,NaN,NaN,NaN,NaN,NaN,NaN
3,200109732998,S,0,F,1,M,41,0,0,S,...,P,M,MARTINEZ,H5,DOLLY,MARTINEZ,H5,NaN,NaN,NaN
4,101129215784,S,0,F,0,J,11,0,0,S,...,P,NaN,BIGGS,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24306,101124553335,S,0,F,1,I,11,0,0,S,...,P,NaN,SHAYGAN FATE,J4,NaN,NaN,NaN,NaN,NaN,NaN
24307,101258714665,M,1,F,0,C,10,0,0,S,...,P,M,MOROZ,UA,NaN,NaN,NaN,NaN,NaN,NaN
24308,100109720394,S,1,F,5,M,20,0,0,S,...,P,M,LUNDBERG,SE,SCOTT,LUNDBERG,SE,MICHELLE,LUNDBERG,SE
24309,500114126691,S,1,F,0,H,17,0,1,S,...,P,P,SUTHERLAND,S3,CHRISTINA,SUTHERLAND,S3,TIMOTHY,SUTHERLAND,S3
24310,400109732693,S,1,F,1,I,27,1,1,S,...,P,NaN,SCHNEIDERMAN,J4,DEBRA,SCHNEIDERMAN,J4,JENNIFER,SCHNEIDERMAN,J4

#### Zip 24148

In [100]:
df_24148 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_24148_year_2020.txt', sep = '\t')
df_24148

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,8048940,S,0,F,0,G,24,0,0,S,...,P,NaN,MASSEY,E5,TAYLOR,MASSEY,E5,NaN,NaN,NaN
1,9087855,S,0,F,0,J,12,0,0,S,...,P,L,KENNISH,E5,NaN,NaN,NaN,NaN,NaN,NaN
2,12304313,S,0,F,0,J,12,0,0,S,...,P,L,KENNISH,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,12304321,S,0,F,0,J,12,0,0,S,...,P,L,KENNISH,E5,NaN,NaN,NaN,NaN,NaN,NaN
4,12304333,S,0,F,0,J,12,0,0,S,...,P,L,KENNISH,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4846,902460254705,S,1,F,0,C,1,0,0,S,...,P,NaN,COLEMAN,E5,NaN,NaN,NaN,NaN,NaN,NaN
4847,902460254721,S,1,F,0,D,1,0,0,S,...,P,NaN,HAYES,S3,NaN,NaN,NaN,NaN,NaN,NaN
4848,902460254739,S,1,F,0,F,1,0,0,S,...,P,NaN,STRATTON,E5,NaN,NaN,NaN,NaN,NaN,NaN
4849,902460254747,S,1,F,0,H,1,0,0,S,...,Z,R,WILLIAMS,W4,NaN,NaN,NaN,NaN,NaN,NaN
4850,902460254865,U,1,F,0,C,1,0,0,NaN,...,Z,NaN,ROBERTSON,E5,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df_24148 = df_24148.sample(frac=1)
df_24148

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
2646,500013235014,S,1,F,0,I,14,0,0,S,...,P,G,ADKINS,E5,DEBBIE,ADKINS,E5,NaN,NaN,NaN
2825,501821001687,S,1,F,0,B,6,0,0,S,...,P,NaN,DAVILLA,H5,NaN,NaN,NaN,NaN,NaN,NaN
3836,701961328775,S,0,F,0,F,7,0,0,S,...,P,V,BANDA,H5,NaN,NaN,NaN,NaN,NaN,NaN
258,1472565411,S,1,F,0,E,8,0,0,S,...,P,NaN,TOUFAS,00,NaN,NaN,NaN,NaN,NaN,NaN
4617,900877344168,S,0,F,0,I,14,0,0,S,...,P,NaN,FOLEY,IE,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618,700404839186,S,1,F,0,G,15,0,0,S,...,P,S,COX,E5,NaN,NaN,NaN,NaN,NaN,NaN
2423,500013125286,S,1,F,0,M,27,0,0,S,...,P,NaN,PULLIAM,E5,LINDA,PULLIAM,E5,WAYLAND,PULLIAM,E5
4844,902428563839,S,0,F,0,I,1,0,0,S,...,P,NaN,WEGENER,NL,NaN,NaN,NaN,NaN,NaN,NaN
2079,400048428147,S,1,F,0,H,16,0,0,S,...,P,J,WILKINS,E5,NaN,NaN,NaN,NaN,NaN,NaN
4785,902195397687,S,1,F,0,B,3,0,0,S,...,P,L,CORUM,E5,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_24148.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_24148_year_2020.txt', index = False)

In [103]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_24148_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,500013235014,S,1,F,0,I,14,0,0,S,...,P,G,ADKINS,E5,DEBBIE,ADKINS,E5,NaN,NaN,NaN
1,501821001687,S,1,F,0,B,6,0,0,S,...,P,NaN,DAVILLA,H5,NaN,NaN,NaN,NaN,NaN,NaN
2,701961328775,S,0,F,0,F,7,0,0,S,...,P,V,BANDA,H5,NaN,NaN,NaN,NaN,NaN,NaN
3,1472565411,S,1,F,0,E,8,0,0,S,...,P,NaN,TOUFAS,00,NaN,NaN,NaN,NaN,NaN,NaN
4,900877344168,S,0,F,0,I,14,0,0,S,...,P,NaN,FOLEY,IE,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4846,700404839186,S,1,F,0,G,15,0,0,S,...,P,S,COX,E5,NaN,NaN,NaN,NaN,NaN,NaN
4847,500013125286,S,1,F,0,M,27,0,0,S,...,P,NaN,PULLIAM,E5,LINDA,PULLIAM,E5,WAYLAND,PULLIAM,E5
4848,902428563839,S,0,F,0,I,1,0,0,S,...,P,NaN,WEGENER,NL,NaN,NaN,NaN,NaN,NaN,NaN
4849,400048428147,S,1,F,0,H,16,0,0,S,...,P,J,WILKINS,E5,NaN,NaN,NaN,NaN,NaN,NaN
4850,902195397687,S,1,F,0,B,3,0,0,S,...,P,L,CORUM,E5,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 73107

In [104]:
df_73107 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_73107_year_2020.txt', sep = '\t')
df_73107

/tmp/ipykernel_4095284/818847994.py:1: DtypeWarning: Columns (21,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_73107 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_73107_year_2020.txt', sep = '\t')

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,1361306,S,1,F,2,I,7,3,1,S,...,P,S,PARKER,E5,RONDA,PARKER,E5,KIMBERLY,PARKER,E5
1,65076697,S,0,F,0,L,12,0,0,S,...,P,P,HOUCK,NL,NaN,NaN,NaN,NaN,NaN,NaN
2,65475093,S,1,F,5,H,27,0,0,S,...,P,NaN,ROBERSON,E5,DARLENE,ROBERSON,E5,NaN,NaN,NaN
3,106567705,S,1,F,3,M,43,0,0,S,...,P,L,ALLEN,E5,RICK,ALLEN,E5,VINCE,ALLEN,E5
4,109068918,S,1,F,0,G,33,1,1,S,...,P,A,TRAN,VN,KRISTINA,TRAN,VN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16757,902473619145,S,0,F,0,F,1,0,0,S,...,P,NaN,MCGRAW,IE,NaN,NaN,NaN,NaN,NaN,NaN
16758,902473619543,S,1,F,0,D,1,0,0,S,...,P,L,OCHOA,H5,NaN,NaN,NaN,NaN,NaN,NaN
16759,902473619551,M,0,F,0,A,1,0,0,S,...,0,NaN,OKAAY,00,NaN,NaN,NaN,NaN,NaN,NaN
16760,902473619653,S,1,F,0,G,1,0,0,S,...,P,NaN,PATEL,IN,NaN,NaN,NaN,NaN,NaN,NaN
16761,902473619991,S,1,F,0,C,1,0,0,S,...,P,NaN,RICHARDSON,E5,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df_73107 = df_73107.sample(frac=1)
df_73107

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
4212,201539985111,M,0,F,0,K,7,0,0,S,...,0,G,WARD,E5,NaN,NaN,NaN,NaN,NaN,NaN
9332,501443026771,M,1,F,0,E,9,1,1,S,...,P,A,LOWE,E5,NaN,NaN,NaN,NaN,NaN,NaN
2764,101906319057,S,1,F,0,A,5,0,0,S,...,P,NaN,GOODNIGHT,E5,NaN,NaN,NaN,NaN,NaN,NaN
16192,901881829057,S,0,F,0,D,1,0,0,S,...,P,NaN,TERUEL,H5,NaN,NaN,NaN,NaN,NaN,NaN
10531,600859153149,S,1,F,0,G,15,0,0,S,...,P,NaN,OAJACA,H5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,2418871307,S,1,F,0,F,1,0,0,S,...,P,W,MEAD,E5,NaN,NaN,NaN,NaN,NaN,NaN
9636,502144115279,M,1,F,0,M,3,0,0,S,...,0,N,MCMULLEN,IE,NaN,NaN,NaN,NaN,NaN,NaN
3784,200717893237,S,1,F,0,D,5,1,1,S,...,P,P,LEY,E5,NICHOLAS,LEY,E5,NaN,NaN,NaN
2942,102205116783,S,1,F,0,B,3,0,0,S,...,0,M,RAWLINS,S3,NaN,NaN,NaN,NaN,NaN,NaN
11094,601914758303,S,0,F,0,B,5,0,0,S,...,P,NaN,VALENCIA,H5,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_73107.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_73107_year_2020.txt', index = False)

In [107]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_73107_year_2020.txt')
df

/tmp/ipykernel_4095284/1962900173.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_73107_year_2020.txt')

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,201539985111,M,0,F,0,K,7,0,0,S,...,0,G,WARD,E5,NaN,NaN,NaN,NaN,NaN,NaN
1,501443026771,M,1,F,0,E,9,1,1,S,...,P,A,LOWE,E5,NaN,NaN,NaN,NaN,NaN,NaN
2,101906319057,S,1,F,0,A,5,0,0,S,...,P,NaN,GOODNIGHT,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,901881829057,S,0,F,0,D,1,0,0,S,...,P,NaN,TERUEL,H5,NaN,NaN,NaN,NaN,NaN,NaN
4,600859153149,S,1,F,0,G,15,0,0,S,...,P,NaN,OAJACA,H5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16757,2418871307,S,1,F,0,F,1,0,0,S,...,P,W,MEAD,E5,NaN,NaN,NaN,NaN,NaN,NaN
16758,502144115279,M,1,F,0,M,3,0,0,S,...,0,N,MCMULLEN,IE,NaN,NaN,NaN,NaN,NaN,NaN
16759,200717893237,S,1,F,0,D,5,1,1,S,...,P,P,LEY,E5,NICHOLAS,LEY,E5,NaN,NaN,NaN
16760,102205116783,S,1,F,0,B,3,0,0,S,...,0,M,RAWLINS,S3,NaN,NaN,NaN,NaN,NaN,NaN
16761,601914758303,S,0,F,0,B,5,0,0,S,...,P,NaN,VALENCIA,H5,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 48412

In [108]:
df_48412 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_48412_year_2020.txt', sep = '\t')
df_48412

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,65163546,S,1,F,0,F,17,0,0,S,...,P,F,DUNCAN,S3,NaN,NaN,NaN,NaN,NaN,NaN
1,271287304,S,1,F,0,M,17,0,0,S,...,4,NaN,WHEELER,E5,NaN,NaN,NaN,NaN,NaN,NaN
2,283297261,S,1,F,0,F,5,3,1,S,...,0,M,JUSTICE,E5,KELLY,JUSTICE,E5,NaN,NaN,NaN
3,283897490,S,0,F,0,M,3,0,0,S,...,P,M,PENNINGTON,E5,NaN,NaN,NaN,NaN,NaN,NaN
4,284518719,S,0,F,0,G,5,0,0,S,...,P,B,HOWE,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,902463579273,S,1,F,0,A,1,0,0,S,...,P,E,RUSSELL,S3,NaN,NaN,NaN,NaN,NaN,NaN
3337,902470930415,S,1,F,0,H,1,0,0,S,...,P,A,GUERIN,FR,TAMMY,GUERIN,FR,NaN,NaN,NaN
3338,902470930423,S,1,F,0,C,1,0,0,S,...,P,NaN,MATTI,IT,NaN,NaN,NaN,NaN,NaN,NaN
3339,902470930431,S,0,F,0,F,1,0,0,S,...,P,NaN,SEIDELL,DE,NaN,NaN,NaN,NaN,NaN,NaN
3340,902470930753,U,1,F,0,G,1,0,0,NaN,...,Z,NaN,BILOY,00,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df_48412 = df_48412.sample(frac=1)
df_48412

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
2416,700295983827,S,1,F,0,M,27,0,0,S,...,P,R,STEWART,S3,NaN,NaN,NaN,NaN,NaN,NaN
622,102180400499,S,0,F,0,B,3,1,1,S,...,P,K,SZEWCZYK,PL,NaN,NaN,NaN,NaN,NaN,NaN
1947,502232844631,S,0,F,0,B,2,2,1,S,...,P,K,ADAM,E5,NaN,NaN,NaN,NaN,NaN,NaN
2525,701079547659,S,0,F,0,G,12,0,0,S,...,P,M,BALLARD,E5,NaN,NaN,NaN,NaN,NaN,NaN
779,200626512822,S,1,F,0,G,21,0,0,S,...,P,R,BALLENTINE,S3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,500295981311,S,1,F,0,I,28,0,1,S,...,P,J,RODGERS,E5,NaN,NaN,NaN,NaN,NaN,NaN
2240,602443125309,S,1,F,0,B,1,0,0,S,...,P,NaN,TOMEZAK,00,NaN,NaN,NaN,NaN,NaN,NaN
1862,501101459606,S,1,F,0,C,12,0,0,S,...,P,P,ATTARD,FR,NaN,NaN,NaN,NaN,NaN,NaN
2939,900295123051,S,1,F,0,L,18,0,1,S,...,P,M,NOLIN,IE,GAIL,NOLIN,IE,DIANA,NOLIN,IE
288,100295980350,S,1,F,2,L,34,2,1,S,...,P,R,MARTZ,E5,WILLIAM,MARTZ,E5,GERALD,MARTZ,E5

In [110]:
df_48412.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_48412_year_2020.txt', index = False)

In [111]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_48412_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,700295983827,S,1,F,0,M,27,0,0,S,...,P,R,STEWART,S3,NaN,NaN,NaN,NaN,NaN,NaN
1,102180400499,S,0,F,0,B,3,1,1,S,...,P,K,SZEWCZYK,PL,NaN,NaN,NaN,NaN,NaN,NaN
2,502232844631,S,0,F,0,B,2,2,1,S,...,P,K,ADAM,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,701079547659,S,0,F,0,G,12,0,0,S,...,P,M,BALLARD,E5,NaN,NaN,NaN,NaN,NaN,NaN
4,200626512822,S,1,F,0,G,21,0,0,S,...,P,R,BALLENTINE,S3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,500295981311,S,1,F,0,I,28,0,1,S,...,P,J,RODGERS,E5,NaN,NaN,NaN,NaN,NaN,NaN
3337,602443125309,S,1,F,0,B,1,0,0,S,...,P,NaN,TOMEZAK,00,NaN,NaN,NaN,NaN,NaN,NaN
3338,501101459606,S,1,F,0,C,12,0,0,S,...,P,P,ATTARD,FR,NaN,NaN,NaN,NaN,NaN,NaN
3339,900295123051,S,1,F,0,L,18,0,1,S,...,P,M,NOLIN,IE,GAIL,NOLIN,IE,DIANA,NOLIN,IE
3340,100295980350,S,1,F,2,L,34,2,1,S,...,P,R,MARTZ,E5,WILLIAM,MARTZ,E5,GERALD,MARTZ,E5

#### Zip 14086

In [112]:
df_14086 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_14086_year_2020.txt', sep = '\t')
df_14086

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,1581140,S,1,F,0,G,12,2,1,S,...,P,M,BLAIR,S3,AMY,BLAIR,S3,GRACE,BLAIR,S3
1,2660845,S,1,F,0,K,13,1,1,S,...,P,G,PODLESAK,00,JOSEPH,PODLESAK,00,NaN,NaN,NaN
2,3090573,S,1,F,0,I,26,0,0,S,...,P,NaN,LEARY,IE,IRENE,LEARY,IE,ELIZABETH,LEARY,IE
3,28939116,M,1,F,1,L,15,0,0,S,...,P,NaN,BROZYNA,RU,NaN,NaN,NaN,NaN,NaN,NaN
4,46955758,S,1,F,0,D,5,3,1,S,...,P,J,HENKEL,DE,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19917,902472007111,S,0,F,0,C,1,0,0,S,...,P,J,MURRAY,S3,NaN,NaN,NaN,NaN,NaN,NaN
19918,902472007145,S,0,F,0,E,1,0,0,S,...,P,NaN,POLK,S3,NaN,NaN,NaN,NaN,NaN,NaN
19919,902472007153,S,0,F,0,C,1,0,0,S,...,P,NaN,RAMOS,H5,NaN,NaN,NaN,NaN,NaN,NaN
19920,902472007161,S,0,F,0,F,1,0,0,S,...,P,NaN,ROCCO RAINERI,IT,NaN,NaN,NaN,NaN,NaN,NaN
19921,902472196813,M,1,F,0,A,1,0,0,S,...,0,I,COLON,H5,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
df_14086 = df_14086.sample(frac=1)
df_14086

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
4450,200102383490,S,0,F,8,H,28,0,1,S,...,P,NaN,MERLINO,IT,MARGARET,MERLINO,IT,DALLAS,MERLINO,IT
6467,300102395227,S,0,F,0,I,33,1,1,S,...,P,C,SCIME,IT,MARIANNE,SCIME,IT,MATTHEW,SCIME,IT
6481,300102395418,S,1,F,2,K,30,0,0,S,...,P,NaN,SIKORSKI,PL,LESLIE,SIKORSKI,PL,NaN,NaN,NaN
1168,1362947301,S,0,F,0,D,5,1,1,S,...,P,M,WEBER,AT,NaN,NaN,NaN,NaN,NaN,NaN
9677,402257447347,M,1,F,0,D,15,0,0,S,...,P,E,LEITH,S3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7239,301241534525,S,0,F,0,D,11,2,1,S,...,P,L,SCHIEFER,DE,JESSICA,SCHIEFER,DE,NaN,NaN,NaN
7479,301805756059,S,1,F,0,C,1,0,0,S,...,P,NaN,FUGATE,IT,ALEKSANDRA,FUGATE,PL,NaN,NaN,NaN
15130,701256172049,S,0,F,0,F,29,1,1,S,...,P,J,FOWLER,E5,LISA,FOWLER,E5,NaN,NaN,NaN
18060,900102377503,S,1,F,2,I,31,1,1,S,...,P,N,GIZA,IT,DANIEL,GIZA,IT,RACHEL,GIZA,IT
17658,802417409893,S,0,F,0,D,2,0,0,S,...,P,M,AKA,NG,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df_14086.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_14086_year_2020.txt', index = False)

In [117]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_14086_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,200102383490,S,0,F,8,H,28,0,1,S,...,P,NaN,MERLINO,IT,MARGARET,MERLINO,IT,DALLAS,MERLINO,IT
1,300102395227,S,0,F,0,I,33,1,1,S,...,P,C,SCIME,IT,MARIANNE,SCIME,IT,MATTHEW,SCIME,IT
2,300102395418,S,1,F,2,K,30,0,0,S,...,P,NaN,SIKORSKI,PL,LESLIE,SIKORSKI,PL,NaN,NaN,NaN
3,1362947301,S,0,F,0,D,5,1,1,S,...,P,M,WEBER,AT,NaN,NaN,NaN,NaN,NaN,NaN
4,402257447347,M,1,F,0,D,15,0,0,S,...,P,E,LEITH,S3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19917,301241534525,S,0,F,0,D,11,2,1,S,...,P,L,SCHIEFER,DE,JESSICA,SCHIEFER,DE,NaN,NaN,NaN
19918,301805756059,S,1,F,0,C,1,0,0,S,...,P,NaN,FUGATE,IT,ALEKSANDRA,FUGATE,PL,NaN,NaN,NaN
19919,701256172049,S,0,F,0,F,29,1,1,S,...,P,J,FOWLER,E5,LISA,FOWLER,E5,NaN,NaN,NaN
19920,900102377503,S,1,F,2,I,31,1,1,S,...,P,N,GIZA,IT,DANIEL,GIZA,IT,RACHEL,GIZA,IT
19921,802417409893,S,0,F,0,D,2,0,0,S,...,P,M,AKA,NG,NaN,NaN,NaN,NaN,NaN,NaN

#### Zip 77255

In [118]:
df_77255 = pd.read_csv('/hpc/group/codeplus22-vis/infousa_copy/2020/Household_Ethnicity_zip_77255_year_2020.txt', sep = '\t')
df_77255

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,27450991,U,1,F,1,F,19,1,1,P,...,Z,S,BASU,IN,NaN,NaN,NaN,NaN,NaN,NaN
1,195789848,U,0,F,0,M,5,0,0,P,...,Z,J,NEILSON,S3,NaN,NaN,NaN,NaN,NaN,NaN
2,220222611,U,1,F,0,D,16,3,1,P,...,Z,E,HUDSPETH,E5,NaN,NaN,NaN,NaN,NaN,NaN
3,335299334,U,1,F,0,I,18,0,0,P,...,Z,NaN,HAYES,S3,DEBRA,HAYES,S3,RICKI,HAYES,S3
4,338641348,U,1,F,0,M,23,0,0,P,...,Z,NaN,RIBAR,SK,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,902404789105,U,1,F,0,K,1,0,0,P,...,Z,T,TAFRESHI,P4,NaN,NaN,NaN,NaN,NaN,NaN
416,902431272069,U,0,F,0,C,1,0,0,P,...,Z,NaN,ANGEL,H5,NaN,NaN,NaN,NaN,NaN,NaN
417,902431272475,U,1,F,0,D,1,0,0,P,...,Z,NaN,JACOBS,E5,NaN,NaN,NaN,NaN,NaN,NaN
418,902431272577,U,0,F,0,I,1,0,0,P,...,Z,NaN,MARTINEZ,H5,NaN,NaN,NaN,NaN,NaN,NaN
419,902431272705,U,1,F,1,H,1,0,0,P,...,Z,G,RAMOS,H5,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
df_77255 = df_77255.sample(frac=1)
df_77255

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
333,800336027979,U,1,S,0,K,5,0,0,P,...,Z,NaN,HARRIS,E5,SUSAN,HARRIS,E5,AMY,HARRIS,E5
258,600428575679,U,0,F,0,E,12,0,1,P,...,Z,NaN,SIMMS,E5,NaN,NaN,NaN,NaN,NaN,NaN
144,301210911261,U,1,F,0,D,11,0,0,P,...,Z,J,WILLIAMS,W4,NaN,NaN,NaN,NaN,NaN,NaN
16,961422539,U,1,F,0,I,11,0,0,P,...,Z,NaN,MOZEE,00,NaN,NaN,NaN,NaN,NaN,NaN
142,301002522537,U,1,F,0,E,12,0,0,P,...,Z,NaN,SAUNDERS,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,102357193323,U,1,F,0,A,1,0,0,P,...,Z,NaN,GONZALEZ,H5,TAYLOR,GONZALEZ,H5,NaN,NaN,NaN
198,402468530077,U,1,F,0,F,1,0,0,P,...,Z,NaN,NGUYEN,VN,NaN,NaN,NaN,NaN,NaN,NaN
267,601294896835,U,1,F,0,F,9,0,0,P,...,Z,NaN,MILLER,DE,NaN,NaN,NaN,NaN,NaN,NaN
345,800552643607,U,1,F,0,E,18,2,1,P,...,Z,T,GARCIA,H5,NaN,NaN,NaN,NaN,NaN,NaN
391,900999530369,U,1,F,0,F,8,2,1,P,...,Z,NaN,CALDERON,H5,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df_77255.to_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_77255_year_2020.txt', index = False)

In [121]:
df = pd.read_csv('/hpc/group/codeplus22-vis/synthetic_data/synthetic_infousa/Household_Ethnicity_zip_77255_year_2020.txt')
df

,FamilyID,location_type,primary_family_ind,HouseholdStatus,tradeline_count,head_hh_age_code,length_of_residence,ChildrenHHCount,children_ind,AddressType,...,GE_CENSUS_LEVEL_2010,middle_name,last_name_1,Ethnicity_Code_1,first_name_2,last_name_2,Ethnicity_Code_2,first_name_3,last_name_3,Ethnicity_Code_3
0,800336027979,U,1,S,0,K,5,0,0,P,...,Z,NaN,HARRIS,E5,SUSAN,HARRIS,E5,AMY,HARRIS,E5
1,600428575679,U,0,F,0,E,12,0,1,P,...,Z,NaN,SIMMS,E5,NaN,NaN,NaN,NaN,NaN,NaN
2,301210911261,U,1,F,0,D,11,0,0,P,...,Z,J,WILLIAMS,W4,NaN,NaN,NaN,NaN,NaN,NaN
3,961422539,U,1,F,0,I,11,0,0,P,...,Z,NaN,MOZEE,00,NaN,NaN,NaN,NaN,NaN,NaN
4,301002522537,U,1,F,0,E,12,0,0,P,...,Z,NaN,SAUNDERS,E5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,102357193323,U,1,F,0,A,1,0,0,P,...,Z,NaN,GONZALEZ,H5,TAYLOR,GONZALEZ,H5,NaN,NaN,NaN
416,402468530077,U,1,F,0,F,1,0,0,P,...,Z,NaN,NGUYEN,VN,NaN,NaN,NaN,NaN,NaN,NaN
417,601294896835,U,1,F,0,F,9,0,0,P,...,Z,NaN,MILLER,DE,NaN,NaN,NaN,NaN,NaN,NaN
418,800552643607,U,1,F,0,E,18,2,1,P,...,Z,T,GARCIA,H5,NaN,NaN,NaN,NaN,NaN,NaN
419,900999530369,U,1,F,0,F,8,2,1,P,...,Z,NaN,CALDERON,H5,NaN,NaN,NaN,NaN,NaN,NaN