In [1]:
import pandas as pd
import geopandas as gpd
import os
import random

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.11.0-CAPI-1.17.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
df_tanks = gpd.read_file('/hpc/group/codeplus22-vis/ast_dataset/tile_level_annotations.shp')
df_tanks

,tile_name,minx_polyg,miny_polyg,maxx_polyg,maxy_polyg,nw_corner_,nw_corne_1,se_corner_,se_corne_1,object_cla,diameter (,merged_bbo,bbox_withi,Category1,Category2,Category3,Category4,Category5,state,geometry
0,m_4007327_nw_18_060_20190809,974,314,1041,380,40.625753,-73.745466,40.625392,-73.744997,closed_roof_tank,39.6,1,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74547 40.62575, -73.74500 40.625..."
1,m_4007327_nw_18_060_20190809,1091,479,1157,512,40.624853,-73.744652,40.624669,-73.744188,closed_roof_tank,19.8,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74465 40.62485, -73.74419 40.624..."
2,m_4007327_nw_18_060_20190809,851,243,872,265,40.626147,-73.746331,40.626026,-73.746184,closed_roof_tank,12.6,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74633 40.62615, -73.74618 40.626..."
3,m_4007327_nw_18_060_20190809,843,284,897,335,40.625926,-73.746392,40.625646,-73.746014,closed_roof_tank,30.6,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74639 40.62593, -73.74601 40.625..."
4,m_4007327_nw_18_060_20190809,905,288,945,331,40.625899,-73.745952,40.625664,-73.745673,closed_roof_tank,24.0,0,0,0.0,0.0,0.0,0.0,0.0,New York,"POLYGON ((-73.74595 40.62590, -73.74567 40.625..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98164,m_3910409_se_13_060_20190803,2735,6826,2744,6836,39.777458,-104.920750,39.777404,-104.920687,narrow_closed_roof_tank,5.4,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92075 39.77746, -104.92069 39.7..."
98165,m_3910409_se_13_060_20190803,2748,6851,2756,6859,39.777323,-104.920659,39.777279,-104.920603,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92066 39.77732, -104.92060 39.7..."
98166,m_3910409_se_13_060_20190803,2751,6778,2759,6784,39.777717,-104.920637,39.777685,-104.920581,narrow_closed_roof_tank,3.6,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92064 39.77772, -104.92058 39.7..."
98167,m_3910409_se_13_060_20190803,2750,6975,2758,6984,39.776652,-104.920645,39.776604,-104.920589,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92065 39.77665, -104.92059 39.7..."
98168,m_3910409_se_13_060_20190803,2742,6975,2750,6985,39.776652,-104.920701,39.776598,-104.920645,narrow_closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Colorado,"POLYGON ((-104.92070 39.77665, -104.92065 39.7..."

In [5]:
random.seed(1)
df_tanks_sample = df_tanks.sample(frac = 0.01)
df_tanks_sample = df_tanks_sample.reset_index(drop = True)
df_tanks_sample.to_file('/hpc/group/codeplus22-vis/synthetic_data/synthetic_ast/ast_synthetic.shp')

In [6]:
df_tanks = gpd.read_file('/hpc/group/codeplus22-vis/synthetic_data/synthetic_ast/ast_synthetic.shp')
df_tanks.head()

,tile_name,minx_polyg,miny_polyg,maxx_polyg,maxy_polyg,nw_corner_,nw_corne_1,se_corner_,se_corne_1,object_cla,diameter (,merged_bbo,bbox_withi,Category1,Category2,Category3,Category4,Category5,state,geometry
0,m_3009139_ne_15_060_20190726,283,280,291,315,30.502086,-91.188319,30.501896,-91.188273,closed_roof_tank,4.8,0,0,0.0,0.0,0.0,0.0,0.0,Louisiana,"POLYGON ((-91.18832 30.50209, -91.18827 30.502..."
1,m_2909005_ne_15_060_20190707,7130,2364,7181,2414,29.990328,-90.396031,29.990051,-90.395721,closed_roof_tank,30.0,1,0,0.0,0.0,0.0,0.0,0.0,Louisiana,"POLYGON ((-90.39603 29.99033, -90.39572 29.990..."
2,m_3408350_ne_17_060_20191023,4910,5661,4944,5696,34.221846,-83.783836,34.221662,-83.783608,closed_roof_tank,20.4,1,0,0.0,0.0,0.0,0.0,0.0,Georgia,"POLYGON ((-83.78384 34.22185, -83.78361 34.221..."
3,m_3708701_se_16_060_20180905,2128,6425,2137,6433,37.906044,-87.926281,37.906001,-87.926219,narrow_closed_roof_tank,4.8,1,0,0.0,0.0,0.0,0.0,0.0,Indiana,"POLYGON ((-87.92628 37.90604, -87.92622 37.906..."
4,m_3510659_se_13_060_20180528,6323,3515,6351,3542,35.045411,-106.648524,35.045268,-106.648337,closed_roof_tank,16.2,1,0,0.0,0.0,0.0,0.0,0.0,New Mexico,"POLYGON ((-106.64852 35.04541, -106.64834 35.0..."