# Using Machine Learning to Calculate Shortest Distance Between Two Points
### Calculating the shortest distances between households and storage tanks in Harris and Charleston County

### Import libraries

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import haversine as hs
import os

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.11.0-CAPI-1.17.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

### Setting ```DATA_DIR```
In order to read in files from this repository, we must set ```DATA_DIR``` to be the data folder within this repository. This requires ```os.getcwd()``` to return the path to the processing notebook of this repository, so ```xxx/codeplus-celine-dcc-package/procesing```, where ```xxx``` is the path to where you cloned this repository. If it is not, use ```os.chdir(path)``` to change the current working directory to ```xxx/codeplus-celine-dcc-package/procesing``` before getting the current working directory in ```DATA_DIR = os.getcwd()```, where ```path``` is ```xxx/codeplus-celine-dcc-package/procesing```.

In [2]:
DATA_DIR = os.getcwd()
DATA_DIR = DATA_DIR.replace('processing', 'data')
DATA_DIR

'/hpc/home/at341/ondemand/codeplus-celine-dcc-package/data'

### Reading in Harris County and Charleston County InfoUSA Data
This reads in the merged InfoUSA dataset, created in processing notebook **01_merging_files**. This is if working with the original InfoUSA Data. However, since we are using test, synthetic data in this repository, we created two different datasets- one with synthetic InfoUSA data for Harris County, and one with synthetic InfoUSA data for Charleston County. This was done in processing notebook **synthetic_infousa**.

The commented-out code in the chunks below is how you would read in the file produced by processing notebook **01_merging_files**, then filter for only households within Harris County, the those within Charleston County. However, since we are using test, synthetic dataframes for each county, we read them in separately.

In [3]:
# df = pd.read_parquet('/hpc/group/codeplus22-vis/infousa_copy/zip_00_99_final.parquet')
# df.head()

Since the InfoUSA dataframe above contains information from all zip codes, we filter by state and county to select only observations for Harris County, Texas. We then drop the columns that we will not be working with.

In [4]:
# df_harris = df[df['county_fips'] == '48201']

df_harris = pd.read_parquet(DATA_DIR + '/source_files/infousa_files/harris_households.parquet')
df_harris = df_harris.drop(['zip', 'county_fips', 'state', 'child_num'], axis = 1)
df_harris

      has_child age_code  lat_h_4326  lon_h_4326    lat_h_3857    lon_h_3857
0             0        D   29.609275  -95.091207 -1.058550e+07  3.453424e+06
1             1        B   29.980627  -95.600641 -1.064221e+07  3.501060e+06
2             0        D   29.822307  -95.433438 -1.062360e+07  3.480729e+06
3             0        L   29.914440  -95.141698 -1.059113e+07  3.492557e+06
4             1        H   30.023101  -95.447820 -1.062520e+07  3.506520e+06
...         ...      ...         ...         ...           ...           ...
9995          1        H   29.914909  -95.722899 -1.065582e+07  3.492617e+06
9996          0        B   30.070496  -95.794543 -1.066380e+07  3.512615e+06
9997          1        F   29.846029  -95.535133 -1.063492e+07  3.483774e+06
9998          1        I   29.759730  -95.619028 -1.064426e+07  3.472703e+06
9999          1        E   29.652426  -95.238444 -1.060190e+07  3.458950e+06

[10000 rows x 6 columns]

We do the same for Charleston County, South Carolina.

In [5]:
# df_charleston = df[df['county_fips'] == '45019']

df_charleston = pd.read_parquet(DATA_DIR + '/source_files/infousa_files/charleston_households.parquet')
df_charleston = df_charleston.drop(['zip', 'county_fips', 'state', 'child_num'], axis = 1)
df_charleston

      has_child age_code  lat_h_4326  lon_h_4326    lat_h_3857    lon_h_3857
0             0        J   32.978423  -80.137887 -8.920909e+06  3.892440e+06
1             0        K   32.863037  -79.960963 -8.901214e+06  3.877139e+06
2             0        A   32.930185  -79.652262 -8.866849e+06  3.886041e+06
3             0        K   32.690360  -80.344204 -8.943876e+06  3.854276e+06
4             0        F   32.841516  -79.713399 -8.873655e+06  3.874287e+06
...         ...      ...         ...         ...           ...           ...
4995          1        E   32.845994  -80.030114 -8.908912e+06  3.874880e+06
4996          0        G   32.719291  -79.941533 -8.899051e+06  3.858104e+06
4997          0        I   32.668219  -80.197994 -8.927600e+06  3.851348e+06
4998          0        B   32.675563  -80.187002 -8.926376e+06  3.852319e+06
4999          1        L   32.784297  -80.285284 -8.937317e+06  3.866708e+06

[5000 rows x 6 columns]

### Reading in AST data
To calculate the shortest distance between each household and tank, we must also read in the processed AST file. This file was processed in processing notebook **02_processing_tanks**.

In [6]:
df_tanks = gpd.read_file(DATA_DIR + '/ast_master.shp')
df_tanks.head(n=3)

,state,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,county,geometry
0,Louisiana,closed_roof_tank,4.8,30.501991,-91.188296,-1.015103e+07,3.568241e+06,22033,POINT (-91.18830 30.50199)
1,Louisiana,closed_roof_tank,30.0,29.990189,-90.395876,-1.006282e+07,3.502289e+06,22089,POINT (-90.39588 29.99019)
2,Georgia,closed_roof_tank,20.4,34.221754,-83.783722,-9.326761e+06,4.058617e+06,13139,POINT (-83.78372 34.22175)

Since this dataframe contains information for tanks across the US, we filtered for tanks only in Harris County and Charleston County, then dropping all unrelevant columns. The tanks dataframes for Harris and Charleston County will be used at the end of our data processing.

In [7]:
df_tanks_harris = df_tanks[df_tanks['county'] == '48201']
df_tanks_charleston = df_tanks[df_tanks['county'] == '45019']
df_tanks = df_tanks.drop(['state', 'county'], axis = 1)

### Processing county data separately
Next, we will process each county's distances separately, as they will be saved in separate files for our visualizations.

#### Harris County:

##### Finding the distance between each household and the nearest tank
The first step in finding the shortest distance between each household and a tank is converting the Harris households dataframe, ```df_harris``` into a GeoDataFrame. The code we run to find the distances rely on geometries, which are a property of GeoDataFrames. To do this, specify the name of the pandas dataframe to convert, then specify which columns to use for the ```POINT``` geometry. In this case, we use ```lon_h_4326``` and ```lat_h_4326```, which are the latitude and longitude coordinates of the household in EPSG 4326.

In [8]:
gdf_harris = gpd.GeoDataFrame(
    df_harris, geometry=gpd.points_from_xy(df_harris.lon_h_4326, df_harris.lat_h_4326))
gdf_harris = gdf_harris[['geometry']]
gdf_harris

                        geometry
0     POINT (-95.09121 29.60927)
1     POINT (-95.60064 29.98063)
2     POINT (-95.43344 29.82231)
3     POINT (-95.14170 29.91444)
4     POINT (-95.44782 30.02310)
...                          ...
9995  POINT (-95.72290 29.91491)
9996  POINT (-95.79454 30.07050)
9997  POINT (-95.53513 29.84603)
9998  POINT (-95.61903 29.75973)
9999  POINT (-95.23844 29.65243)

[10000 rows x 1 columns]

We then convert ```df_tanks``` to a GeoDataFrame. Here, we use ```df_tanks``` instead of ```df_tanks_harris``` because in edge cases, a household may be closest to a tank in another county. We will use ```df_tanks_harris``` later.

In [9]:
gdf_tanks = gpd.GeoDataFrame(
    df_tanks, geometry=gpd.points_from_xy(df_tanks.lon_t_4326, df_tanks.lat_t_4326))
gdf_tanks

,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,geometry
0,closed_roof_tank,4.8,30.501991,-91.188296,-1.015103e+07,3.568241e+06,POINT (-91.18830 30.50199)
1,closed_roof_tank,30.0,29.990189,-90.395876,-1.006282e+07,3.502289e+06,POINT (-90.39588 29.99019)
2,closed_roof_tank,20.4,34.221754,-83.783722,-9.326761e+06,4.058617e+06,POINT (-83.78372 34.22175)
3,narrow_closed_roof_tank,4.8,37.906023,-87.926250,-9.787905e+06,4.566158e+06,POINT (-87.92625 37.90602)
4,closed_roof_tank,16.2,35.045340,-106.648430,-1.187205e+07,4.170044e+06,POINT (-106.64843 35.04534)
...,...,...,...,...,...,...,...
977,closed_roof_tank,19.2,42.411899,-90.732966,-1.010035e+07,5.222881e+06,POINT (-90.73297 42.41190)
978,sedimentation_tank,24.0,42.862335,-106.293070,-1.183249e+07,5.291041e+06,POINT (-106.29307 42.86233)
979,closed_roof_tank,8.4,36.608666,-89.573830,-9.971313e+06,4.384699e+06,POINT (-89.57383 36.60867)
980,closed_roof_tank,43.8,41.831766,-71.371080,-7.944992e+06,5.135812e+06,POINT (-71.37108 41.83177)
981,undefined_object,2.4,35.312557,-94.400990,-1.050867e+07,4.206438e+06,POINT (-94.40099 35.31256)

To find the tanks nearest to each household, we use an algorithm developed by the University of Helsinki. This code is copyrighted and licensed under the Creative Commons Attribution-ShareAlike 4.0 International licence and is available to the public to share and adapt, as long as it is attributed correctly and re-shared if edits are made. The material can be found [here](https://automating-gis-processes.github.io/site/notebooks/L3/nearest-neighbor-faster.html). From this algorithm, we removed the code that calculates the distance between the two points. The reasoning for this is explained in further detail below.

These functions use the sklearn neighbors module, specifically the ```BallTree``` method, to use machine learning to identify the closest tank to each household. It returns a GeoDataFrame with the same number of indices inputted households GeoDataFrame, where each row corresponds to the row with the same index in the households GeoDataFrame. It also retains all the original columns in the inputted tanks GeoDataFrame.

In [10]:
from sklearn.neighbors import BallTree
import numpy as np

def get_nearest(src_points, candidates, k_neighbors=1):
    """Find nearest neighbors for all source points from a set of candidate points"""

    # Create tree from the candidate points
    tree = BallTree(candidates, leaf_size=15, metric = 'euclidean')

    # Find closest points and distances
    distances, indices = tree.query(src_points, k=k_neighbors)

    # Transpose to get distances and indices into arrays
    distances = distances.transpose()
    indices = indices.transpose()

    # Get closest indices and distances (i.e. array at index 0)
    # note: for the second closest points, you would take index 1, etc.
    closest = indices[0]
    closest_dist = distances[0]

    # Return indices and distances
    return (closest, closest_dist)


def nearest_neighbor(left_gdf, right_gdf):
    """
    For each point in left_gdf, find closest point in right GeoDataFrame and return them.

    NOTICE: Assumes that the input Points are in WGS84 projection (lat/lon).
    """

    left_geom_col = left_gdf.geometry.name
    right_geom_col = right_gdf.geometry.name

    # Ensure that index in right gdf is formed of sequential numbers
    right = right_gdf.copy().reset_index(drop=True)

    # Parse coordinates from points and insert them into a numpy array as RADIANS
    left_radians = np.array(left_gdf[left_geom_col].apply(lambda geom: (geom.x * (np.pi / 180), geom.y * (np.pi / 180))).to_list())
    right_radians = np.array(right[right_geom_col].apply(lambda geom: (geom.x * (np.pi / 180), geom.y * (np.pi / 180))).to_list())

    # Find the nearest points
    # -----------------------
    # closest ==> index in right_gdf that corresponds to the closest point
    # dist ==> distance between the nearest neighbors (in meters)

    closest, dist = get_nearest(src_points=left_radians, candidates=right_radians)

    # Return points from right GeoDataFrame that are closest to points in left GeoDataFrame
    closest_points = right.loc[closest]

    # Ensure that the index corresponds the one in left_gdf
    closest_points = closest_points.reset_index(drop=True)
    
    return closest_points

Here, you can see the outputted dataframe has 500,000 rows- the same number of rows as the inputted ```gdf_harris``` GeoDataFrame, and the same columns as the inputted ```df_tanks``` GeoDataFrame. Tank at index 0 in ```df_closest_tanks_harris``` is the tank nearest to household at index 0 in ```df_harris```, which is in the same order as ```gdf_harris``` and so on. 

Note: Using the original InfoUSA dataset and AST dataset, the outputted dataframe should have around 2 million rows.

In [11]:
%%time
df_closest_tanks_harris = nearest_neighbor(gdf_harris, gdf_tanks)
df_closest_tanks_harris.head()

CPU times: user 728 ms, sys: 3.89 ms, total: 732 ms
Wall time: 732 ms

,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,geometry
0,narrow_closed_roof_tank,6.0,29.626542,-95.040781,-1.057989e+07,3.455635e+06,POINT (-95.04078 29.62654)
1,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,POINT (-95.38185 29.93697)
2,narrow_closed_roof_tank,5.4,29.794283,-95.344865,-1.061374e+07,3.477134e+06,POINT (-95.34487 29.79428)
3,closed_roof_tank,28.2,29.846447,-94.925432,-1.056705e+07,3.483827e+06,POINT (-94.92543 29.84645)
4,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,POINT (-95.38185 29.93697)

Therefore, merging the two ```df_closest_tanks_harris``` and ```df_harris``` will create a new dataframe, ```df_harris_dist``` with the coordinates of each household corresponding to that of the tank nearest to it. This information is what we use to calculate distance.

In [12]:
df_closest_tanks_harris = df_closest_tanks_harris.reset_index(drop = True)
df_harris = df_harris.reset_index(drop = True)

In [13]:
df_harris_dist = df_harris.merge(df_closest_tanks_harris, left_index=True, right_index = True)
df_harris_dist = df_harris_dist.drop(['geometry_x', 'geometry_y'], axis = 1)
df_harris_dist.head()

,has_child,age_code,lat_h_4326,lon_h_4326,lat_h_3857,lon_h_3857,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857
0,0,D,29.609275,-95.091207,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,29.626542,-95.040781,-1.057989e+07,3.455635e+06
1,1,B,29.980627,-95.600641,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06
2,0,D,29.822307,-95.433438,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,29.794283,-95.344865,-1.061374e+07,3.477134e+06
3,0,L,29.914440,-95.141698,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,29.846447,-94.925432,-1.056705e+07,3.483827e+06
4,1,H,30.023101,-95.447820,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06

To compute the distance between the two sets of coordinates (the household ones and the ones of the nearest tank), we use the haversine library. This library calculates the distance between two coordinates in EPSG 4326 projection, in kilometers. We multiplied the value by 1,000 to find the distance in meters.

In [14]:
%%time

def distancer(row):
    coords_1 = (row['lat_h_4326'], row['lon_h_4326'])
    coords_2 = (row['lat_t_4326'], row['lon_t_4326'])
    return (hs.haversine(coords_1, coords_2) * 1000)

df_harris_dist['distance_m'] = df_harris_dist.apply(distancer, axis=1)
df_harris_dist

CPU times: user 163 ms, sys: 1.81 ms, total: 165 ms
Wall time: 165 ms

,has_child,age_code,lat_h_4326,lon_h_4326,lat_h_3857,lon_h_3857,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,distance_m
0,0,D,29.609275,-95.091207,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,29.626542,-95.040781,-1.057989e+07,3.455635e+06,5239.017741
1,1,B,29.980627,-95.600641,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,21629.462931
2,0,D,29.822307,-95.433438,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,29.794283,-95.344865,-1.061374e+07,3.477134e+06,9096.125390
3,0,L,29.914440,-95.141698,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,29.846447,-94.925432,-1.056705e+07,3.483827e+06,22179.346147
4,1,H,30.023101,-95.447820,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,11493.289480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,H,29.914909,-95.722899,-1.065582e+07,3.492617e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,32958.056393
9996,0,B,30.070496,-95.794543,-1.066380e+07,3.512615e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,42422.770471
9997,1,F,29.846029,-95.535133,-1.063492e+07,3.483774e+06,closed_roof_tank,23.4,29.936972,-95.381851,-1.061786e+07,3.495451e+06,17905.714509
9998,1,I,29.759730,-95.619028,-1.064426e+07,3.472703e+06,narrow_closed_roof_tank,5.4,29.794283,-95.344865,-1.061374e+07,3.477134e+06,26737.887029
9999,1,E,29.652426,-95.238444,-1.060190e+07,3.458950e+06,closed_roof_tank,29.4,29.666204,-95.200325,-1.059765e+07,3.460715e+06,3989.157257

Dropping latitude and longitude coordinates in the 4326 projection not used in our GPU visualizaitons (that this data is processed for). Also dropping latitude and longitude for nearest tanks, because this is the data for plotting households. Then, calculating distance in miles, as stipulated by our researcher.

In [15]:
df_harris_dist = df_harris_dist.drop(['lat_h_4326', 'lon_h_4326', 'lat_t_4326', 'lon_t_4326', 'lat_t_3857', 'lon_t_3857'], axis = 1)

In [16]:
df_harris_dist['distance_mi']  = df_harris_dist['distance_m'] / 1609.344
df_harris_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi
0,0,D,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,5239.017741,3.255375
1,1,B,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,21629.462931,13.439925
2,0,D,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,9096.125390,5.652070
3,0,L,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,22179.346147,13.781607
4,1,H,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,11493.289480,7.141599
...,...,...,...,...,...,...,...,...
9995,1,H,-1.065582e+07,3.492617e+06,closed_roof_tank,23.4,32958.056393,20.479187
9996,0,B,-1.066380e+07,3.512615e+06,closed_roof_tank,23.4,42422.770471,26.360287
9997,1,F,-1.063492e+07,3.483774e+06,closed_roof_tank,23.4,17905.714509,11.126095
9998,1,I,-1.064426e+07,3.472703e+06,narrow_closed_roof_tank,5.4,26737.887029,16.614153
9999,1,E,-1.060190e+07,3.458950e+06,closed_roof_tank,29.4,3989.157257,2.478747

Then, we categorize each household by its distances from the nearest tank. These boundaries were set by our researcher. Using the numpy library's ```.select()``` function, we can assign different values to each category. Households within 0.5 miles of a tank are marked as ```1```, households between 0.5 miles and one mile are marked as ```2``` and households between one and five miles from a tank are marked as ```3```. All other households are marked as ```4```.

In [17]:
conditions_harris = [(df_harris_dist['distance_mi'] <= 0.5),
              ((df_harris_dist['distance_mi'] > 0.5) & (df_harris_dist['distance_mi'] <= 1)),
              ((df_harris_dist['distance_mi'] > 1) & (df_harris_dist['distance_mi'] <= 5)),
              (df_harris_dist['distance_mi'] > 5)]

values_harris = [1, 2, 3, 4]

df_harris_dist['distance_category'] = np.select(conditions_harris, values_harris)
df_harris_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category
0,0,D,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,5239.017741,3.255375,3
1,1,B,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,21629.462931,13.439925,4
2,0,D,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,9096.125390,5.652070,4
3,0,L,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,22179.346147,13.781607,4
4,1,H,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,11493.289480,7.141599,4
...,...,...,...,...,...,...,...,...,...
9995,1,H,-1.065582e+07,3.492617e+06,closed_roof_tank,23.4,32958.056393,20.479187,4
9996,0,B,-1.066380e+07,3.512615e+06,closed_roof_tank,23.4,42422.770471,26.360287,4
9997,1,F,-1.063492e+07,3.483774e+06,closed_roof_tank,23.4,17905.714509,11.126095,4
9998,1,I,-1.064426e+07,3.472703e+06,narrow_closed_roof_tank,5.4,26737.887029,16.614153,4
9999,1,E,-1.060190e+07,3.458950e+06,closed_roof_tank,29.4,3989.157257,2.478747,3

##### Processing the data for GPU visualizations
Next, we process this data specifically for creating visualizations of it with the GPUs through the Cuxfilter library. 

The Datashader plotting library that Cuxfilter uses to create our visualization through the use of Graphical Processing Units (GPUs) is optimized for working with large dataframes. This comes with a couple constraints, however. One of these is that Datashader only takes numerical inputs when creating the custom charts the user can interact with, like the multiselect chart or the range slider. This means that instead of being able to categorize each household by whether or not its head of household is eldery by labelling it with ```strings``` as ```'Elderly'``` or ```'No elderly'```, we must label it numerically. Therefore, we must convert each age code to a number that indicates whether or not that household has an elderly head of household.

This is done with the numpy library's ```.where()``` function, which uses if-else conditions to assign values in a new column. In the code below, if the age_code is ```J```, ```K```, ```L``` or ```M```, the household is marked as ```1```, meaning elderly (this is based on the InfoUSA data dictionary), and marked as ```2```, not elderly, for all other values.

In [18]:
df_harris_dist['is_elderly'] = np.where(((df_harris_dist['age_code'] == 'J') | (df_harris_dist['age_code'] == 'K') |
                                       (df_harris_dist['age_code'] == 'L') | (df_harris_dist['age_code'] == 'M')), 1, 2)
df_harris_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,0,D,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,5239.017741,3.255375,3,2
1,1,B,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,21629.462931,13.439925,4,2
2,0,D,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,9096.125390,5.652070,4,2
3,0,L,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,22179.346147,13.781607,4,1
4,1,H,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,11493.289480,7.141599,4,2
...,...,...,...,...,...,...,...,...,...,...
9995,1,H,-1.065582e+07,3.492617e+06,closed_roof_tank,23.4,32958.056393,20.479187,4,2
9996,0,B,-1.066380e+07,3.512615e+06,closed_roof_tank,23.4,42422.770471,26.360287,4,2
9997,1,F,-1.063492e+07,3.483774e+06,closed_roof_tank,23.4,17905.714509,11.126095,4,2
9998,1,I,-1.064426e+07,3.472703e+06,narrow_closed_roof_tank,5.4,26737.887029,16.614153,4,2
9999,1,E,-1.060190e+07,3.458950e+06,closed_roof_tank,29.4,3989.157257,2.478747,3,2

To remain consistent the same structure as above, even though the ```has_child``` column is already numerical, we changed the values so that ```1``` indicates that the household has children, ```2``` indicates that the household has no children, and ```0``` indicates that the point is a tank. Previously, ```0``` indicated no children and ```1``` indicated children. In all our categorical variable columns, ```0``` indicates that the point is a tank, so we wanted to remain consistent.

In [19]:
df_harris_dist['has_child'] = np.where(df_harris_dist['has_child'] == 1, 1, 2)
df_harris_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,2,D,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,5239.017741,3.255375,3,2
1,1,B,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,21629.462931,13.439925,4,2
2,2,D,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,9096.125390,5.652070,4,2
3,2,L,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,22179.346147,13.781607,4,1
4,1,H,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,11493.289480,7.141599,4,2
...,...,...,...,...,...,...,...,...,...,...
9995,1,H,-1.065582e+07,3.492617e+06,closed_roof_tank,23.4,32958.056393,20.479187,4,2
9996,2,B,-1.066380e+07,3.512615e+06,closed_roof_tank,23.4,42422.770471,26.360287,4,2
9997,1,F,-1.063492e+07,3.483774e+06,closed_roof_tank,23.4,17905.714509,11.126095,4,2
9998,1,I,-1.064426e+07,3.472703e+06,narrow_closed_roof_tank,5.4,26737.887029,16.614153,4,2
9999,1,E,-1.060190e+07,3.458950e+06,closed_roof_tank,29.4,3989.157257,2.478747,3,2

In addition, the Cuxfilter library only pulls coordinates from two columns: on latitude and one longitude column. This means that all the points displayed in the dashboard must be in the same column. Therefore, to plot tanks and households on the same dashboard, we append the dataframe with the coordinates for each tank to the dataframe with the coordinates for each household. To do so, the columns must be the same across both columns. Therefore, we renamed the ```lat_h_3857``` and ```lon_h_3857``` columns in the ```df_harris_dist``` dataframe to ```lat_3857``` and ```lon_3857```. When the ```df_tanks_harris``` dataframe is appended to this one, we will have general latitude and longitude columns including coordinate information for all the households and tanks in Harris County.

In [20]:
df_harris_dist.rename(columns = {'lat_h_3857': 'lat_3857', 'lon_h_3857': 'lon_3857'}, inplace = True)

In order for the tanks to display on Cuxfilter when using the distance range slider, we set the distance to the maximum distance between a household and a tank. This is because the distance column in the final merged dataframe used in our visualizations will represent the distance between a household and the tank nearest to it. However, for tanks, there is no associated distance, and when users play with the distance range slider, tanks will not appear on the visualization. We get around this by setting the distance to the maximum distance between a household and a tank. This is a limited solution potentially solveable by calculating the distance for each tank to the nearest household and including those values.

We add the ```has_child```, ```distance_category``` and ```is_elderly``` columns to the ```df_tanks_harris``` dataframe, setting all their values to ```0``` to indicate that the point is a tank when plotted on the dashboard.

In [21]:
df_harris_dist['distance_mi'].max()

27.985921737363004

In [22]:
df_tanks_harris = df_tanks_harris.drop(['state', 'county', 'lat_t_4326', 'lon_t_4326', 'geometry'], axis = 1)
df_tanks_harris['has_child'] = 0
df_tanks_harris['distance_category'] = 0
df_tanks_harris['is_elderly'] = 0
df_tanks_harris['distance_mi'] = 35
df_tanks_harris.rename(columns = {'lat_t_3857': 'lat_3857', 'lon_t_3857': 'lon_3857'}, inplace = True)
df_tanks_harris

,tank_type,diameter,lat_3857,lon_3857,has_child,distance_category,is_elderly,distance_mi
59,closed_roof_tank,23.4,-1.061786e+07,3.495451e+06,0,0,0,35
195,closed_roof_tank,17.4,-1.057776e+07,3.453122e+06,0,0,0,35
214,external_floating_roof_tank,10.2,-1.061325e+07,3.472830e+06,0,0,0,35
650,narrow_closed_roof_tank,5.4,-1.061374e+07,3.477134e+06,0,0,0,35
699,closed_roof_tank,10.2,-1.057771e+07,3.453203e+06,0,0,0,35
765,narrow_closed_roof_tank,6.0,-1.057989e+07,3.455635e+06,0,0,0,35
831,closed_roof_tank,29.4,-1.059765e+07,3.460715e+06,0,0,0,35
876,closed_roof_tank,25.2,-1.056668e+07,3.480927e+06,0,0,0,35

In [23]:
df_harris_merged = df_harris_dist.append(df_tanks_harris, ignore_index = True)
df_harris_merged

/tmp/ipykernel_3544919/2443356700.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_harris_merged = df_harris_dist.append(df_tanks_harris, ignore_index = True)

,has_child,age_code,lat_3857,lon_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,2,D,-1.058550e+07,3.453424e+06,narrow_closed_roof_tank,6.0,5239.017741,3.255375,3,2
1,1,B,-1.064221e+07,3.501060e+06,closed_roof_tank,23.4,21629.462931,13.439925,4,2
2,2,D,-1.062360e+07,3.480729e+06,narrow_closed_roof_tank,5.4,9096.125390,5.652070,4,2
3,2,L,-1.059113e+07,3.492557e+06,closed_roof_tank,28.2,22179.346147,13.781607,4,1
4,1,H,-1.062520e+07,3.506520e+06,closed_roof_tank,23.4,11493.289480,7.141599,4,2
...,...,...,...,...,...,...,...,...,...,...
10003,0,NaN,-1.061374e+07,3.477134e+06,narrow_closed_roof_tank,5.4,NaN,35.000000,0,0
10004,0,NaN,-1.057771e+07,3.453203e+06,closed_roof_tank,10.2,NaN,35.000000,0,0
10005,0,NaN,-1.057989e+07,3.455635e+06,narrow_closed_roof_tank,6.0,NaN,35.000000,0,0
10006,0,NaN,-1.059765e+07,3.460715e+06,closed_roof_tank,29.4,NaN,35.000000,0,0
10007,0,NaN,-1.056668e+07,3.480927e+06,closed_roof_tank,25.2,NaN,35.000000,0,0

Finally, we save this as a parquet file so we can use it in our visualizations.

In [24]:
df_harris_merged.to_parquet(DATA_DIR + '/harris_dist.parquet')

#### Charleston County
The same process from above is repeated for Charleston County.

##### Finding the distance between each household and the nearest tank

In [25]:
gdf_charleston = gpd.GeoDataFrame(
    df_charleston, geometry=gpd.points_from_xy(df_charleston.lon_h_4326, df_charleston.lat_h_4326))
gdf_charleston = gdf_charleston[['geometry']]
gdf_charleston

                        geometry
0     POINT (-80.13789 32.97842)
1     POINT (-79.96096 32.86304)
2     POINT (-79.65226 32.93018)
3     POINT (-80.34420 32.69036)
4     POINT (-79.71340 32.84152)
...                          ...
4995  POINT (-80.03011 32.84599)
4996  POINT (-79.94153 32.71929)
4997  POINT (-80.19799 32.66822)
4998  POINT (-80.18700 32.67556)
4999  POINT (-80.28528 32.78430)

[5000 rows x 1 columns]

In [26]:
gdf_tanks = gpd.GeoDataFrame(
    df_tanks, geometry=gpd.points_from_xy(df_tanks.lon_t_4326, df_tanks.lat_t_4326))
gdf_tanks

,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,geometry
0,closed_roof_tank,4.8,30.501991,-91.188296,-1.015103e+07,3.568241e+06,POINT (-91.18830 30.50199)
1,closed_roof_tank,30.0,29.990189,-90.395876,-1.006282e+07,3.502289e+06,POINT (-90.39588 29.99019)
2,closed_roof_tank,20.4,34.221754,-83.783722,-9.326761e+06,4.058617e+06,POINT (-83.78372 34.22175)
3,narrow_closed_roof_tank,4.8,37.906023,-87.926250,-9.787905e+06,4.566158e+06,POINT (-87.92625 37.90602)
4,closed_roof_tank,16.2,35.045340,-106.648430,-1.187205e+07,4.170044e+06,POINT (-106.64843 35.04534)
...,...,...,...,...,...,...,...
977,closed_roof_tank,19.2,42.411899,-90.732966,-1.010035e+07,5.222881e+06,POINT (-90.73297 42.41190)
978,sedimentation_tank,24.0,42.862335,-106.293070,-1.183249e+07,5.291041e+06,POINT (-106.29307 42.86233)
979,closed_roof_tank,8.4,36.608666,-89.573830,-9.971313e+06,4.384699e+06,POINT (-89.57383 36.60867)
980,closed_roof_tank,43.8,41.831766,-71.371080,-7.944992e+06,5.135812e+06,POINT (-71.37108 41.83177)
981,undefined_object,2.4,35.312557,-94.400990,-1.050867e+07,4.206438e+06,POINT (-94.40099 35.31256)

In [27]:
%%time
df_closest_tanks_charleston = nearest_neighbor(gdf_charleston, gdf_tanks)
df_closest_tanks_charleston

CPU times: user 373 ms, sys: 2.38 ms, total: 376 ms
Wall time: 373 ms

,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,geometry
0,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
1,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
2,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
3,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
4,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
...,...,...,...,...,...,...,...
4995,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
4996,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
4997,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
4998,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)
4999,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,POINT (-79.94482 32.83093)

In [28]:
df_closest_tanks_charleston = df_closest_tanks_charleston.reset_index(drop = True)
df_closest_tanks_charleston = df_closest_tanks_charleston.reset_index(drop = True)

In [29]:
df_charleston_dist = df_charleston.merge(df_closest_tanks_charleston, left_index=True, right_index = True)
df_charleston_dist = df_charleston_dist.drop(['geometry_x', 'geometry_y'], axis = 1)
df_charleston_dist

,has_child,age_code,lat_h_4326,lon_h_4326,lat_h_3857,lon_h_3857,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857
0,0,J,32.978423,-80.137887,-8.920909e+06,3.892440e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
1,0,K,32.863037,-79.960963,-8.901214e+06,3.877139e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
2,0,A,32.930185,-79.652262,-8.866849e+06,3.886041e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
3,0,K,32.690360,-80.344204,-8.943876e+06,3.854276e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
4,0,F,32.841516,-79.713399,-8.873655e+06,3.874287e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1,E,32.845994,-80.030114,-8.908912e+06,3.874880e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
4996,0,G,32.719291,-79.941533,-8.899051e+06,3.858104e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
4997,0,I,32.668219,-80.197994,-8.927600e+06,3.851348e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
4998,0,B,32.675563,-80.187002,-8.926376e+06,3.852319e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06
4999,1,L,32.784297,-80.285284,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06

In [30]:
%%time

def distancer(row):
    coords_1 = (row['lat_h_4326'], row['lon_h_4326'])
    coords_2 = (row['lat_t_4326'], row['lon_t_4326'])
    return (hs.haversine(coords_1, coords_2) * 1000)

df_charleston_dist['distance_m'] = df_charleston_dist.apply(distancer, axis=1)
df_charleston_dist

CPU times: user 78 ms, sys: 497 Âµs, total: 78.5 ms
Wall time: 77.7 ms

,has_child,age_code,lat_h_4326,lon_h_4326,lat_h_3857,lon_h_3857,tank_type,diameter,lat_t_4326,lon_t_4326,lat_t_3857,lon_t_3857,distance_m
0,0,J,32.978423,-80.137887,-8.920909e+06,3.892440e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,24368.871847
1,0,K,32.863037,-79.960963,-8.901214e+06,3.877139e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,3875.705356
2,0,A,32.930185,-79.652262,-8.866849e+06,3.886041e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,29465.160448
3,0,K,32.690360,-80.344204,-8.943876e+06,3.854276e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,40484.373905
4,0,F,32.841516,-79.713399,-8.873655e+06,3.874287e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,21653.759497
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1,E,32.845994,-80.030114,-8.908912e+06,3.874880e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,8142.630461
4996,0,G,32.719291,-79.941533,-8.899051e+06,3.858104e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,12417.276464
4997,0,I,32.668219,-80.197994,-8.927600e+06,3.851348e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,29797.807450
4998,0,B,32.675563,-80.187002,-8.926376e+06,3.852319e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,28484.428977
4999,1,L,32.784297,-80.285284,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32.830928,-79.944823,-8.899417e+06,3.872884e+06,32238.721347

In [31]:
df_charleston_dist = df_charleston_dist.drop(['lat_h_4326', 'lon_h_4326', 'lat_t_4326', 'lon_t_4326', 'lat_t_3857', 'lon_t_3857'], axis = 1)

In [32]:
df_charleston_dist['distance_mi']  = df_charleston_dist['distance_m'] / 1609.344
df_charleston_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi
0,0,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115
1,0,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252
2,0,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802
3,0,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824
4,0,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022
...,...,...,...,...,...,...,...,...
4995,1,E,-8.908912e+06,3.874880e+06,spherical_tank,14.4,8142.630461,5.059596
4996,0,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738
4997,0,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499
4998,0,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213

In [33]:
conditions_charleston = [(df_charleston_dist['distance_mi'] <= 0.5),
              ((df_charleston_dist['distance_mi'] > 0.5) & (df_charleston_dist['distance_mi'] <= 1)),
              ((df_charleston_dist['distance_mi'] > 1) & (df_charleston_dist['distance_mi'] <= 5)),
              (df_charleston_dist['distance_mi'] > 5)]

values_charleston = [1, 2, 3, 4]

df_charleston_dist['distance_category'] = np.select(conditions_charleston, values_charleston)
df_charleston_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category
0,0,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115,4
1,0,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252,3
2,0,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802,4
3,0,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824,4
4,0,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022,4
...,...,...,...,...,...,...,...,...,...
4995,1,E,-8.908912e+06,3.874880e+06,spherical_tank,14.4,8142.630461,5.059596,4
4996,0,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738,4
4997,0,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499,4
4998,0,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404,4
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213,4

##### Processing the data for GPU visualizations

In [34]:
df_charleston_dist['is_elderly'] = np.where(((df_charleston_dist['age_code'] == 'J') | (df_charleston_dist['age_code'] == 'K') |
                                       (df_charleston_dist['age_code'] == 'L') | (df_charleston_dist['age_code'] == 'M')), 1, 2)
df_charleston_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,0,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115,4,1
1,0,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252,3,1
2,0,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802,4,2
3,0,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824,4,1
4,0,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022,4,2
...,...,...,...,...,...,...,...,...,...,...
4995,1,E,-8.908912e+06,3.874880e+06,spherical_tank,14.4,8142.630461,5.059596,4,2
4996,0,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738,4,2
4997,0,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499,4,2
4998,0,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404,4,2
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213,4,1

In [35]:
df_charleston_dist['has_child'] = np.where(df_charleston_dist['has_child'] == 1, 1, 2)
df_charleston_dist

,has_child,age_code,lat_h_3857,lon_h_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,2,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115,4,1
1,2,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252,3,1
2,2,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802,4,2
3,2,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824,4,1
4,2,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022,4,2
...,...,...,...,...,...,...,...,...,...,...
4995,1,E,-8.908912e+06,3.874880e+06,spherical_tank,14.4,8142.630461,5.059596,4,2
4996,2,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738,4,2
4997,2,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499,4,2
4998,2,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404,4,2
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213,4,1

In [36]:
df_charleston_dist.rename(columns = {'lat_h_3857': 'lat_3857', 'lon_h_3857': 'lon_3857'}, inplace = True)

In [37]:
df_charleston_dist['distance_mi'].max()

32.70190482678881

In [38]:
df_tanks_charleston = df_tanks_charleston.drop(['state', 'county', 'lat_t_4326', 'lon_t_4326', 'geometry'], axis = 1)
df_tanks_charleston['has_child'] = 0
df_tanks_charleston['distance_category'] = 0
df_tanks_charleston['is_elderly'] = 0
df_tanks_charleston['distance_mi'] = 35
df_tanks_charleston.rename(columns = {'lat_t_3857': 'lat_3857', 'lon_t_3857': 'lon_3857'}, inplace = True)
df_tanks_charleston

,tank_type,diameter,lat_3857,lon_3857,has_child,distance_category,is_elderly,distance_mi
962,spherical_tank,14.4,-8.899417e+06,3.872884e+06,0,0,0,35

In [39]:
df_charleston_merged = df_charleston_dist.append(df_tanks_charleston, ignore_index = True)
df_charleston_merged

/tmp/ipykernel_3544919/588546869.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_charleston_merged = df_charleston_dist.append(df_tanks_charleston, ignore_index = True)

,has_child,age_code,lat_3857,lon_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,2,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115,4,1
1,2,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252,3,1
2,2,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802,4,2
3,2,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824,4,1
4,2,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022,4,2
...,...,...,...,...,...,...,...,...,...,...
4996,2,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738,4,2
4997,2,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499,4,2
4998,2,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404,4,2
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213,4,1
5000,0,NaN,-8.899417e+06,3.872884e+06,spherical_tank,14.4,NaN,35.000000,0,0

In [40]:
df_charleston_merged.to_parquet(DATA_DIR + '/charleston_dist.parquet')

In [41]:
df = pd.read_parquet(DATA_DIR + '/charleston_dist.parquet')
df

,has_child,age_code,lat_3857,lon_3857,tank_type,diameter,distance_m,distance_mi,distance_category,is_elderly
0,2,J,-8.920909e+06,3.892440e+06,spherical_tank,14.4,24368.871847,15.142115,4,1
1,2,K,-8.901214e+06,3.877139e+06,spherical_tank,14.4,3875.705356,2.408252,3,1
2,2,A,-8.866849e+06,3.886041e+06,spherical_tank,14.4,29465.160448,18.308802,4,2
3,2,K,-8.943876e+06,3.854276e+06,spherical_tank,14.4,40484.373905,25.155824,4,1
4,2,F,-8.873655e+06,3.874287e+06,spherical_tank,14.4,21653.759497,13.455022,4,2
...,...,...,...,...,...,...,...,...,...,...
4996,2,G,-8.899051e+06,3.858104e+06,spherical_tank,14.4,12417.276464,7.715738,4,2
4997,2,I,-8.927600e+06,3.851348e+06,spherical_tank,14.4,29797.807450,18.515499,4,2
4998,2,B,-8.926376e+06,3.852319e+06,spherical_tank,14.4,28484.428977,17.699404,4,2
4999,1,L,-8.937317e+06,3.866708e+06,spherical_tank,14.4,32238.721347,20.032213,4,1
5000,0,None,-8.899417e+06,3.872884e+06,spherical_tank,14.4,NaN,35.000000,0,0